<ion-view title="1° Año" id="page8" style="background-color:#0F48AB;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="1AO-list64">
      <ion-item class="item-divider" id="1AO-list-item-divider66"> Ciclo Introductorio</ion-item>
      <ion-item class="item-icon-left dark" id="1AO-list-item25" ui-sref="medicinaUNLaR.examenDeIngreso()">
        <i class="icon ion-university"></i>Examen de Ingreso</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="1AO-list65">
      <ion-item class="item-divider" id="1AO-list-item-divider67"> Anuales</ion-item>
      <ion-item class="item-icon-left dark" id="1AO-list-item26" ui-sref="medicinaUNLaR.anatomANormal()">
        <i class="icon ion-university"></i>Anatomía Normal</ion-item>
      <ion-item class="item-icon-left dark" id="1AO-list-item267" ui-sref="medicinaUNLaR.quMicaBiolGica()">
        <i class="icon ion-university"></i>Química Biológica</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="1AO-list67">
      <ion-item class="item-divider" id="1AO-list-item-divider68"> 1° Cuatrimestre</ion-item>
      <ion-item class="item-icon-left dark" id="1AO-list-item37" ui-sref="medicinaUNLaR.saludPBlicaI()">
        <i class="icon ion-university"></i>Salud Pública I</ion-item>
    </ion-list>
    <ion-list id="1AO-list68">
      <ion-item class="item-icon-left dark" id="1AO-list-item38" ui-sref="medicinaUNLaR.expresiNOralYEscrita()">
        <i class="icon ion-university"></i>Expresión Oral y Escrita</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>