<ion-view title="2° Año" id="page9" style="background-color:#0F48AB;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="2AO-list74">
      <ion-item class="item-divider" id="2AO-list-item-divider71"> Anuales</ion-item>
      <ion-item class="item-icon-left dark" id="2AO-list-item29" ui-sref="medicinaUNLaR.fisiologAHumana()">
        <i class="icon ion-university"></i>Fisiología Humana</ion-item>
    </ion-list>
    <ion-list id="2AO-list75">
      <ion-item class="item-icon-left dark" id="2AO-list-item30" ui-sref="medicinaUNLaR.histologAEmbriologAYGenTica()">
        <i class="icon ion-university"></i>Histología, Embriología y Genética</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="2AO-list76">
      <ion-item class="item-divider" id="2AO-list-item-divider70"> 1° Cuatrimestre</ion-item>
      <ion-item class="item-icon-left dark" id="2AO-list-item31" ui-sref="medicinaUNLaR.fSicaBiomDica()">
        <i class="icon ion-university"></i>Física Biomédica</ion-item>
      <ion-item class="item-icon-left dark" id="2AO-list-item261" ui-sref="medicinaUNLaR.saludPBlicaII()">
        <i class="icon ion-university"></i>Salud Pública II</ion-item>
    </ion-list>
    <ion-list id="2AO-list95">
      <ion-item class="item-icon-left dark" id="2AO-list-item268" ui-sref="medicinaUNLaR.humanismoMDico()">
        <i class="icon ion-university"></i>Humanismo Médico</ion-item>
      <ion-item class="item-icon-left dark" id="2AO-list-item32" ui-sref="medicinaUNLaR.inglS()">
        <i class="icon ion-university"></i>Inglés</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="2AO-list8">
      <ion-item class="item-divider" id="2AO-list-item-divider69"> 2° Cuatrimestre</ion-item>
      <ion-item class="item-icon-left dark" id="2AO-list-item49" ui-sref="medicinaUNLaR.electivaIaPsicologASocial()">
        <i class="icon ion-university"></i>Electiva Ia: Psicología Social</ion-item>
      <ion-item class="item-icon-left dark" id="2AO-list-item50" ui-sref="medicinaUNLaR.electivaIbNutriciNBSica()">
        <i class="icon ion-university"></i>Electiva Ib: Nutrición Básica</ion-item>
      <ion-item class="item-icon-left dark" id="2AO-list-item51" ui-sref="medicinaUNLaR.electivaIcFundamentosDeInstrumentaciNQuirRgica()">
        <i class="icon ion-university"></i>Electiva Ic: Fundamentos de Instrumentación Quirúrgica</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>