<ion-view title="3° Año" id="page10" style="background-color:#004EC3;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="3AO-list120">
      <ion-item class="item-divider" id="3AO-list-item-divider72"> Anuales</ion-item>
    </ion-list>
    <ion-list id="3AO-list122">
      <ion-item class="item-icon-left dark" id="3AO-list-item35" ui-sref="medicinaUNLaR.patologA()">
        <i class="icon ion-university"></i>Patología</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="3AO-list79">
      <ion-item class="item-divider" id="3AO-list-item-divider74"> 1° Cuatrimestre</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item270" ui-sref="medicinaUNLaR.parasitologAYMicologAMDica()">
        <i class="icon ion-university"></i>Parasitología y Micología Médica</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item271" ui-sref="medicinaUNLaR.medicinaPsicosocial()">
        <i class="icon ion-university"></i>Medicina Psicosocial</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item272" ui-sref="medicinaUNLaR.epistemologAEIntroducciNALaInvestigaciNCientFica()">
        <i class="icon ion-university"></i>Epistemología e Introducción a la Investigación Científica</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="3AO-list9">
      <ion-item class="item-divider" id="3AO-list-item-divider73"> 2° Cuatrimestre</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item269" ui-sref="medicinaUNLaR.medicinaAntropolGica()">
        <i class="icon ion-university"></i>Medicina Antropológica</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item36" ui-sref="medicinaUNLaR.bacteriologAYVirologAMDica()">
        <i class="icon ion-university"></i>Bacteoriología y Virología Médicas</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item276" ui-sref="medicinaUNLaR.saludPBlicaIII()">
        <i class="icon ion-university"></i>Salud Pública III</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item275" ui-sref="medicinaUNLaR.bioinformTica()">
        <i class="icon ion-university"></i>Bioinformática</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item274" ui-sref="medicinaUNLaR.electivaIIAMedicinaFamiliar()">
        <i class="icon ion-university"></i>Electiva II a: Medicina Familiar</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item225" ui-sref="medicinaUNLaR.electivaIIBAdministraciNGestiNDeLaSaludYAuditorAMDica()">
        <i class="icon ion-university"></i>Electiva II b: Administración, Gestión de la Salud y Auditoría Médica</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item226" ui-sref="medicinaUNLaR.ElectivaIICPatologARegional()">
        <i class="icon ion-university"></i>Electiva II c: Patología Regional</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item227" ui-sref="medicinaUNLaR.electivaIIDProcedimientosYTCnicasQuirRgicasDeEmergencia()">
        <i class="icon ion-university"></i>Electiva II d: Procedimientos y Técnicas Quirúrgicas de Emergencia</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>