<ion-view title="4° Año" id="page40" style="background-color:#004EC3;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="4AO-list88">
      <ion-item class="item-divider" id="4AO-list-item-divider75"> Anuales</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item239" ui-sref="medicinaUNLaR.clNicaMDicaI()">
        <i class="icon ion-university"></i>Clínica Médica I</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item280" ui-sref="medicinaUNLaR.clNicaGinecolGica()">
        <i class="icon ion-university"></i>Clínica Ginecológica</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item281" ui-sref="medicinaUNLaR.farmacologABSica()">
        <i class="icon ion-university"></i>Farmacología Básica</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="4AO-list89">
      <ion-item class="item-divider" id="4AO-list-item-divider76"> 1° Cuatrimestre</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item282" ui-sref="medicinaUNLaR.clNicaOftalmolGica()">
        <i class="icon ion-university"></i>Clínica Oftalmológica</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item240" ui-sref="medicinaUNLaR.clNicaInfectolGica()">
        <i class="icon ion-university"></i>Clínica Infectológica</ion-item>
    </ion-list>
    <ion-list id="4AO-list124">
      <ion-item class="item-icon-left dark" id="4AO-list-item278" ui-sref="medicinaUNLaR.saludMental()">
        <i class="icon ion-university"></i>Salud Mental</ion-item>
    </ion-list>
    <ion-list id="4AO-list129">
      <ion-item class="item-icon-left dark" id="4AO-list-item283" ui-sref="medicinaUNLaR.radiologAYDiagnSticoPorImGenes()">
        <i class="icon ion-university"></i>Radiología y Diagnóstico por Imágenes</ion-item>
    </ion-list>
    <ion-list id="4AO-list131">
      <ion-item class="item-icon-left dark" id="4AO-list-item284" ui-sref="medicinaUNLaR.bioTica()">
        <i class="icon ion-university"></i>Bioética</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="4AO-list98">
      <ion-item class="item-divider" id="4AO-list-item-divider77"> 2° Cuatrimestre</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item228" ui-sref="medicinaUNLaR.clNicaDermatolGica()">
        <i class="icon ion-university"></i>Clínica Dermatológica</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item229" ui-sref="medicinaUNLaR.clNicaNeurolGica()">
        <i class="icon ion-university"></i>Clínica Neurológica</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item230" ui-sref="medicinaUNLaR.saludPBlicaIV()">
        <i class="icon ion-university"></i>Salud Pública IV</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>