<ion-view title="5° Año" id="page41" style="background-color:#004EC3;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="5AO-list91">
      <ion-item class="item-divider" id="5AO-list-item-divider78"> Anuales</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item290" ui-sref="medicinaUNLaR.clNicaMDicaII()">
        <i class="icon ion-university"></i>Clínica Médica II</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item291" ui-sref="medicinaUNLaR.clNicaQuirRgicaI()">
        <i class="icon ion-university"></i>Clínica Quirúrgica I</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item242" ui-sref="medicinaUNLaR.clNicaObstTricaYPerinatolGica()">
        <i class="icon ion-university"></i>Clínica Obstétrica y Perinatológica </ion-item>
    </ion-list>
    <ion-list id="5AO-list190">
      <ion-item class="item-icon-left dark" id="5AO-list-item241" ui-sref="medicinaUNLaR.clNicaPediTrica()">
        <i class="icon ion-university"></i>Clínica Pediátrica</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="5AO-list92">
      <ion-item class="item-divider" id="5AO-list-item-divider79"> 1° Cuatrimestre</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item289" ui-sref="medicinaUNLaR.clNicaTraumatolGica()">
        <i class="icon ion-university"></i>Clínica Traumatológica</ion-item>
    </ion-list>
    <ion-list id="5AO-list198">
      <ion-item class="item-icon-left dark" id="5AO-list-item292" ui-sref="medicinaUNLaR.saludPBlicaV()">
        <i class="icon ion-university"></i>Salud Pública V</ion-item>
    </ion-list>
    <ion-list id="5AO-list199">
      <ion-item class="item-icon-left dark" id="5AO-list-item455" ui-sref="medicinaUNLaR.electivaIIIAMedicinaAlternativa()">
        <i class="icon ion-university"></i>Electiva III a: Medicina Alternativa</ion-item>
    </ion-list>
    <ion-list id="5AO-list200">
      <ion-item class="item-icon-left dark" id="5AO-list-item231" ui-sref="medicinaUNLaR.electivaIIIBGerontologA()">
        <i class="icon ion-university"></i>Electiva III b: Gerontología</ion-item>
    </ion-list>
    <ion-list id="5AO-list201">
      <ion-item class="item-icon-left dark" id="5AO-list-item232" ui-sref="medicinaUNLaR.electivaIIICGenTica()">
        <i class="icon ion-university"></i>Electiva III c: Genética</ion-item>
    </ion-list>
    <ion-list id="5AO-list202">
      <ion-item class="item-icon-left dark" id="5AO-list-item233" ui-sref="medicinaUNLaR.electivaIIIDMedicinaDelDolor()">
        <i class="icon ion-university"></i>Electiva III d: Medicina del Dolor</ion-item>
    </ion-list>
    <ion-list id="5AO-list203">
      <ion-item class="item-icon-left dark" id="5AO-list-item234" ui-sref="medicinaUNLaR.electivaIIIENuevasTecnologAsAplicadasALaMedicina()">
        <i class="icon ion-university"></i>Electiva III e: Nuevas Tecnologías Aplicadas a la Medicina</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="5AO-list102">
      <ion-item class="item-divider" id="5AO-list-item-divider80"> 2° Cuatrimestre</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item235" ui-sref="medicinaUNLaR.clNicaUrolGica()">
        <i class="icon ion-university"></i>Clínica Urológica</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item236" ui-sref="medicinaUNLaR.farmacologAClNica()">
        <i class="icon ion-university"></i>Farmacología Clínica</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item262" ui-sref="medicinaUNLaR.medicinaLegalYToxicolGica()">
        <i class="icon ion-university"></i>Medicina Legal y Toxicológica</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item263" ui-sref="medicinaUNLaR.clNicaOtorrinolaringolGica()">
        <i class="icon ion-university"></i>Clínica Otorrinolaringológica</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item264" ui-sref="medicinaUNLaR.electivaIVAReumatologA()">
        <i class="icon ion-university"></i>Electiva IV a: Reumatología</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item265" ui-sref="medicinaUNLaR.electivaIVBMedicinaAmbulatoria()">
        <i class="icon ion-university"></i>Electiva IV b: Medicina Ambulatoria</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item266" ui-sref="medicinaUNLaR.electivaIVCToxicologAIntoxicaciones()">
        <i class="icon ion-university"></i>Electiva IV c: Toxicología / Intoxicaciones</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item273" ui-sref="medicinaUNLaR.electivaIVDEducaciNMDica()">
        <i class="icon ion-university"></i>Electiva IV d: Educación Médica</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item277" ui-sref="medicinaUNLaR.electivaIVEMedicinaPreventivaEnLaMujerYOncologAMDica()">
        <i class="icon ion-university"></i>Electiva IV e: Medicina Preventiva en la Mujer y Oncología Médica</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>