<ion-view title="6° Año" id="page63" style="background-color:#004EC3;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="6AO-list100">
      <ion-item class="item-divider" id="6AO-list-item-divider81"> Anual</ion-item>
      <ion-item class="item-icon-left dark" id="6AO-list-item279" ui-sref="medicinaUNLaR.clNicaQuirRgicaII()">
        <i class="icon ion-university"></i>Clínica Quirúrgica II</ion-item>
      <ion-item class="item-icon-left dark" id="6AO-list-item285" ui-sref="medicinaUNLaR.clNicaMDicaIII()">
        <i class="icon ion-university"></i>Clínica Médica III</ion-item>
      <ion-item class="item-icon-left dark" id="6AO-list-item286" ui-sref="medicinaUNLaR.tocoginecologA()">
        <i class="icon ion-university"></i>Tocoginecología</ion-item>
    </ion-list>
    <ion-list id="6AO-list204">
      <ion-item class="item-icon-left dark" id="6AO-list-item287" ui-sref="medicinaUNLaR.pediatrA()">
        <i class="icon ion-university"></i>Pediatría</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="6AO-list101">
      <ion-item class="item-divider" id="6AO-list-item-divider82"> </ion-item>
      <ion-item class="item-icon-left dark" id="6AO-list-item288" ui-sref="medicinaUNLaR.examenFinalIntegrador()">
        <i class="icon ion-university"></i>Examen Final Integrador</ion-item>
    </ion-list>
  </ion-content>
</ion-view>