<ion-view title="Alcance del Título" id="page7">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Alcances del Título</span>
      </h4>
      <div>El Médico tiene competencia para la ejecución, enseñanza o cualquier tipo de acción destinada a:</div>
      <div>
        <p>
          <span style="color: #ff6600;">►</span> Anunciar, prescribir, indicar o aplicar cualquier tipo de procedimiento directo o indirecto de uso diagnóstico o pronóstico.</p>
        <p>
          <span style="color: #ff6600;">►</span> Planear, programar o ejecutar las acciones tendientes a la preservación, tratamiento y recuperación de la salud o a la provisión de cuidados paliativos.</p>
        <p>
          <span style="color: #ff6600;">►</span> Asesorar a nivel público o privado en materia de salud y practicar pericias médicas. Todo ello ya sea sobre individuos o sobre el conjunto de la población independientemente de la percepción o no de retribuciones.</p>
      </div>
    </div>
  </ion-content>
</ion-view>