<ion-view title="Anatomía Normal" id="page14" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="anatomANormal-list12">
      <ion-item class="item-divider" id="anatomANormal-list-item-divider14"> Material de Lectura</ion-item>
      <ion-item class="item-icon-right dark" id="anatomANormal-list-item79" href-inappbrowser="https://drive.google.com/open?id=11tGoAPEaeuBU3Qu72ukSBaT19-z7SCBf">Anatomía para colorear
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="anatomANormal-list-item80" href-inappbrowser="https://drive.google.com/open?id=1EsWjGtedd4K0ZVXUhN1YUUOxParqCHT1">Anatomía para colorir
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="anatomANormal-list13">
      <ion-item class="item-icon-right dark" id="anatomANormal-list-item81" href-inappbrowser="https://drive.google.com/open?id=1xrxO9qck2TcKcul8oB7UPxvAuel9Q9J_">Anatomy Coloring Book
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="anatomANormal-list-item82" href-inappbrowser="https://drive.google.com/open?id=1lTd4D5PW90DPnudjmYG6Q57GDaLj5_J4">Técnica de disecciones y Atlas Anatomía
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="anatomANormal-list-item83" href-inappbrowser="https://drive.google.com/open?id=1X9Bxy36DHZdSdB4AC65vjpEwKY5nLqjA">Anatomía Humana Tomo 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="anatomANormal-list-item549" href-inappbrowser="https://drive.google.com/open?id=1SBU-vG8TVIky_zf0MpTobdVuUHj1r-pa">Anatomía Humana Tomo 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="anatomANormal-list-item550" href-inappbrowser="https://drive.google.com/open?id=1O25gn3yCwJOJCgw2Qcr0U5unVuWt_6uM">Compendio de Anatomía Descriptiva
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="anatomANormal-list-item555" href-inappbrowser="https://drive.google.com/open?id=1YIouhjhF0tPtpZdBu20jFxxgCFPNz1C9">Anatomía Humana
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="anatomANormal-list-item554" href-inappbrowser="https://drive.google.com/open?id=13fx-vGNRfnUMSRCQn47LsF0P23TeFyWM">Atlas de Anatomía Humana
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="anatomANormal-list-item553" href-inappbrowser="https://drive.google.com/open?id=1sDIZCHbT0z0bMPIWGPDtVwURtRceUw4U">T1 - Anatomía gral. y aparato locomotor
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="anatomANormal-list-item552" href-inappbrowser="https://drive.google.com/open?id=1FMlqeqiAYQwq9G9T3OLUzdJCBhIaWB_k">T2 - Cuello y órganos internos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="anatomANormal-list-item551" href-inappbrowser="https://drive.google.com/open?id=18CJUhrIeagHsRxfJqTH6X_C9006HDM0M">T3 - Cabeza y Neuroanatomía
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="anatomANormal-list-item556" href-inappbrowser="https://drive.google.com/open?id=1hY4M6u4a6VFWLTsoSOPFTbpFMqBfI-DB">Anatomía humana Tomo I
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="anatomANormal-list-item557" href-inappbrowser="https://drive.google.com/open?id=1VDoal7-b8NhsmK9LWErazb6zAUfNm9qN">Anatomía humana Tomo II
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="anatomANormal-list-item558" href-inappbrowser="https://drive.google.com/open?id=1oSy0j5-AWBhX_Jkv6Gevy-1MhqNRCxNg">Anatomía humana Tomo III
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="anatomANormal-list-item559" href-inappbrowser="https://drive.google.com/open?id=1nSaWgtKWvL2c7a5wmR5C675P4Foy5mo_">Anatomía humana Tomo IV
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="anatomANormal-list-item564" href-inappbrowser="https://drive.google.com/open?id=14rBJBXgCLrIgrU-L0Z37DFGI4wVP-FOa">Ilustraciones de Anatomía
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="anatomANormal-list-item563" href-inappbrowser="https://drive.google.com/open?id=1HRSQ2JpYySfyfgqCukHnxycoH1nS8IBC">T1 - Atlas: Aparato Locomotor
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="anatomANormal-list-item562" href-inappbrowser="https://drive.google.com/open?id=1ivnbgjIjXnE8eWlkoA_ZqJ8XISYVyREH">T2 - Atlas: Órganos Internos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="anatomANormal-list-item561" href-inappbrowser="https://drive.google.com/open?id=1qb4pp7DpBpXKY15u2eew4sOzomRfqVAG">T3 - Atlas: Sistemas Nervioso
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="anatomANormal-list-item560" href-inappbrowser="https://drive.google.com/open?id=1LkwPEFVmdGt7XyGDnR7YxoYBbpuYUx2X">Anatomía
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="anatomANormal-list-item570" href-inappbrowser="https://drive.google.com/open?id=1yNOsuvTb0fnCx-7N3VFiGBNsVvmgxqgS">Anatomía para Estudiantes
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="anatomANormal-list-item569" href-inappbrowser="https://drive.google.com/open?id=1KTdFG4PTwnX_216_JaBjCDboTbJgQf88">Repaso de Anatomía
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="anatomANormal-list-item568" href-inappbrowser="https://drive.google.com/open?id=1rl9_pFOalWiJJ2TUy7NogfyMy2yUaKno">General Anatomy and Muscoloskeletal System
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="anatomANormal-list-item567" href-inappbrowser="https://drive.google.com/open?id=1Z1Evur3H2OnUZS1tJ__cxdhEY6OgI5b8">Head, Neck and Neuroanatomy
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="anatomANormal-list-item566" href-inappbrowser="https://drive.google.com/open?id=1UkbIbyU7NnGSCWKVd7jswmi22NKzTAaw">Internal Organs
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="anatomANormal-list-item565" href-inappbrowser="https://drive.google.com/open?id=11k3V6dbgx1ISlpn-kf5qHc0nJq7RBLlN">Atlas de Anatomía Humana
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>