<ion-view title="Bacteriología y Virología Médica" id="page31" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="bacteriologAYVirologAMDica-list49">
      <ion-item class="item-divider" id="bacteriologAYVirologAMDica-list-item-divider32"> Material de Estudio</ion-item>
      <ion-item class="item-icon-right dark" id="bacteriologAYVirologAMDica-list-item191" href-inappbrowser="https://drive.google.com/open?id=1UOwLFsq6pLS0Hv1JyX0fNaryzoOUhUC_">Manual de Microbiología y Parasitología
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="bacteriologAYVirologAMDica-list-item192" href-inappbrowser="https://drive.google.com/open?id=1op8iyXdkA2RGLQo_n7cKWewJFnmt_L3X">Microbiología y Parasitología
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="bacteriologAYVirologAMDica-list-item193" href-inappbrowser="https://drive.google.com/open?id=1ircFm5rt100dVfet5wYkwUC274NNE712">Diagnostico Microbiológico
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>