<ion-view title="Clínica Otorrinolaringológica" id="page71" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="clNicaOtorrinolaringolGica-list160">
      <ion-item class="item-divider" id="clNicaOtorrinolaringolGica-list-item-divider65"> Material de Estudio</ion-item>
      <ion-item class="item-icon-right dark" id="clNicaOtorrinolaringolGica-list-item483" href-inappbrowser="https://drive.google.com/open?id=1MZ7fzFW8MBUob54BLs1Gch--IqyR2tXs">Abordaje de Cancer de larínge
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaOtorrinolaringolGica-list-item484" href-inappbrowser="https://drive.google.com/open?id=1Z0hAwa3dhE9wfShUJ31s7wVL8YFMhNV-">Anatomía y Fisiología del Oído
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaOtorrinolaringolGica-list-item485" href-inappbrowser="https://drive.google.com/open?id=1IN38FJjh0PE_AclTCdLn5-WOQFVEN9J4">Laringe
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="clNicaOtorrinolaringolGica-list161">
      <ion-item class="item-icon-right dark" id="clNicaOtorrinolaringolGica-list-item486" href-inappbrowser="https://drive.google.com/open?id=1K8az83EVy6XZZW4jR9HKD9oKfTqcS5Ws">Hematuria microscópica
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaOtorrinolaringolGica-list-item487" href-inappbrowser="https://drive.google.com/open?id=1QmzQZlbCUiB5i5K2HWoPAq7vNps03pbH">Hipiacusias traumatismos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaOtorrinolaringolGica-list-item488" href-inappbrowser="https://drive.google.com/open?id=19Rx85yefYdWJaXKwnJazOU6b21LGq9e3">Hipoacusia Súbita
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaOtorrinolaringolGica-list-item672" href-inappbrowser="https://drive.google.com/open?id=1d3I2Sgn8OZgtfPVi7-MXLGBRebrGUoGU">Hipoacusias Traumatismo Acústico
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaOtorrinolaringolGica-list-item625" href-inappbrowser="https://drive.google.com/open?id=1zRjw3RUem0cAzOf9O2pOF1xqpP0_zXZd">Inflamaciones del oído externo
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaOtorrinolaringolGica-list-item624" href-inappbrowser="https://drive.google.com/open?id=1TX87hNvTejPh9cc_LdyzLvc-2dOJ1ZfP">Inflamaciones Oído Externo y Medio
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaOtorrinolaringolGica-list-item743" href-inappbrowser="https://drive.google.com/open?id=10t4cLpx6iKxSAnDxeo2JUfrzbKzi0NZX">Otitis media con efusión
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaOtorrinolaringolGica-list-item742" href-inappbrowser="https://drive.google.com/open?id=1BhEuWEwfAA83dUf39eLWhtBFqnp8HGJ8">Otorrinolaringologia Diamante
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>