<ion-view title="Clínica Traumatológica" id="page59" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="clNicaTraumatolGica-list138">
      <ion-item class="item-divider" id="clNicaTraumatolGica-list-item-divider55"> Diapositivas</ion-item>
      <ion-item class="item-icon-right dark" id="clNicaTraumatolGica-list-item398" href-inappbrowser="https://drive.google.com/open?id=1JDaHNBEEftuIrY2bL5ic-B-HVDap62ip">Traumatología
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>