<ion-view title="Clínica Ginecológica" id="page45" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="clNicaGinecolGica-list109">
      <ion-item class="item-divider" id="clNicaGinecolGica-list-item-divider38"> Material de Estudio</ion-item>
      <ion-item class="item-icon-right dark" id="clNicaGinecolGica-list-item311" href-inappbrowser="https://drive.google.com/open?id=1dBgeo8CrNWjNi3zZaN_t7Kdd51QhY35F">Resumen Ginecología
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaGinecolGica-list-item312" href-inappbrowser="https://drive.google.com/open?id=18ofO7JqJy5ag10pmOO_PAYthaLQorPxh">Genecología de Gori
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>