<ion-view title="Clínica Infectológica" id="page48" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="clNicaInfectolGica-list115">
      <ion-item class="item-divider" id="clNicaInfectolGica-list-item-divider40"> Material de Estudio</ion-item>
      <ion-item class="item-icon-right dark" id="clNicaInfectolGica-list-item329" href-inappbrowser="https://drive.google.com/open?id=1uklt2vb678YUaWS25f1PnnYSt9bDnBR2">Manual de infectología
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaInfectolGica-list-item330" href-inappbrowser="https://drive.google.com/open?id=1x_msWHaT3E8iaXnDdLzKF55XDIQD1bAw">Macrolidos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaInfectolGica-list-item331" href-inappbrowser="https://drive.google.com/open?id=103ik_Zjo8sibzyau4Bkqk4FRFzcjf6Ja">Lincosamidas
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="clNicaInfectolGica-list116">
      <ion-item class="item-icon-right dark" id="clNicaInfectolGica-list-item333" href-inappbrowser="https://drive.google.com/open?id=1bsEDaNFUBzqBZYvYmNlZNG-pTggBPAEJ">Infecciones Urinarias
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaInfectolGica-list-item334" href-inappbrowser="https://drive.google.com/open?id=1RKjni6OcPSlmFnzXW_aEf_YYRk2ySDRf">Manual de Medicina y Cirugía
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaInfectolGica-list-item157" href-inappbrowser="https://drive.google.com/open?id=10mt64InX31YLetynYJLijZw0NGTyEwTA">Infecciones del Sist. Nervioso Central
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>