<ion-view title="Clínica Pediátrica" id="page58" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="clNicaPediTrica-list197">
      <ion-item class="item-divider" id="clNicaPediTrica-list-item-divider54"> Material de Estudio</ion-item>
    </ion-list>
    <ion-list id="clNicaPediTrica-list135">
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item389" href-inappbrowser="https://drive.google.com/open?id=1JFFy8jj2L6HlHiPcgNl-B4f2q0Q_xyW4">WEB Cardiopatías congénitas
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item390" href-inappbrowser="https://drive.google.com/open?id=1z8jv9l_Gqpj_DVu5QZx-pDjopIWc2o8K">Alimentación complementaria
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item391" href-inappbrowser="https://drive.google.com/open?id=1M6RW9Eh9s7CblZDgETX-dTI0syAJA6i7">Varicela
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="clNicaPediTrica-list136">
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item392" href-inappbrowser="https://drive.google.com/open?id=12pr1kAtftVdt4YMFZ73r1HVJ4s5zFuoi">Trastornos Hidroelectrolíticos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item393" href-inappbrowser="https://drive.google.com/open?id=1B9_35GwMx-iJWaUaMFAdcXPyczWha_Y_">Tablas de percentilos IMC
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item394" href-inappbrowser="https://drive.google.com/open?id=11wr2HZ3wRPJYukb27qGxQ5sR0jWRJUV6">Síndrome nefrítico
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item681" href-inappbrowser="https://drive.google.com/open?id=1AWat2EggpIM-SsPBYinBiZ0bebSTgfgY">Síndrome bronquial obstructivo agudo
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item680" href-inappbrowser="https://drive.google.com/open?id=12fOxgwD6LEDESyOol-Kq3Sz0iQNf_tJq">Screening neonatal
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item679" href-inappbrowser="https://drive.google.com/open?id=1VbgsxerVItfmE_nPALkqMPltt-4zYtf8">RESUMEN Raquitismo
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item678" href-inappbrowser="https://drive.google.com/open?id=1XaiZWlNlBgqh2vRf7IfO2bTzb10YwJ_q">RESUMEN Convulsiones febriles
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item677" href-inappbrowser="https://drive.google.com/open?id=1qAYFtg6RSm8AYGQTHmkhdCk_IkZrh0Xl">Purpuras
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item676" href-inappbrowser="https://drive.google.com/open?id=1MZg6QhfNcdsuhfnxSv-H7nyePggxZkSZ">Abdomen agudo quirúrgico
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item691" href-inappbrowser="https://drive.google.com/open?id=19CPQ_yku3WjqImeifZf_qmQvM_mFeEud">Principales Enfermedades ortopédicas
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item690" href-inappbrowser="https://drive.google.com/open?id=1NIJoQB5H-gQujDDkIpdJb60GjAK4n1ef">Prevención de accidentes en el hogar
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item689" href-inappbrowser="https://drive.google.com/open?id=1W3pE8eDXap74D4rFgDrGAnuD-6l6f8i4">Pesquisa
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item688" href-inappbrowser="https://drive.google.com/open?id=1ZqK4h7it4kI1g_yZw0WIRgculcZoTDRd">Perinatología
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item687" href-inappbrowser="https://drive.google.com/open?id=143scETnVcuU8FKb8B1pEQ71dkkCq9X2j">Pediatría
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item686" href-inappbrowser="https://drive.google.com/open?id=1DKsySWtLBLg_4dZHSgTba6cQA35badPQ">Metabolismo fosfocálcico y nutrición
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item685" href-inappbrowser="https://drive.google.com/open?id=1gd3_KABtuHVUdpLb31RHkZ82bL7ax9E9">Meningoencefalitis
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item684" href-inappbrowser="https://drive.google.com/open?id=1EZk9rCqWVkt7gRrP1oPlKSBTbcfedF6I">Meningitis bacteriana
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item683" href-inappbrowser="https://drive.google.com/open?id=1XBBGpRQIEyp6EKiIe3jFro4wCQueJM_y">Linfomas
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item682" href-inappbrowser="https://drive.google.com/open?id=1WXMSmVyhViOyyL5VQGmiBxetj5eHNE-h">Leucemia Infantil
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item698" href-inappbrowser="https://drive.google.com/open?id=1m2BiwYNyYzJPqhIrSTOoJigVXSIic3z2">Lactancia materna exclusiva
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item709" href-inappbrowser="https://drive.google.com/open?id=1oL8zMuQmkkJdzofItaO0ncWsdrLXrKtK">Lactancia Materna
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item697" href-inappbrowser="https://drive.google.com/open?id=1wK8Mzc7mknj3BPwshnuIQEjZk0ZawqVF">Enfermedad renal
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item708" href-inappbrowser="https://drive.google.com/open?id=1JgUjyLYv3fPgzZtQDhNIkXM4iV5YH28K">Infecciones respiratorias bajas
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item696" href-inappbrowser="https://drive.google.com/open?id=1mzxet9-YANY_5f77ZXPDSlMjFA6En_ww">Clínica pediátrica
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item695" href-inappbrowser="https://drive.google.com/open?id=1NoJBhFE03j6jCWlfHlzuO-szqPtHR7Ll">Hiperbilirrubinemia en el recién nacido
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item707" href-inappbrowser="https://drive.google.com/open?id=1QIMY9bLuHQYleUbtpvtqgDmMviegqN45">Hematurias
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item694" href-inappbrowser="https://drive.google.com/open?id=1Q5h5y7RoU9Wuutt8aHPDyuJB8hAcbu-Q">Guía de alimentación para niños sanos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item693" href-inappbrowser="https://drive.google.com/open?id=1n0Wxdl_OOgUGOxv0JAtTBePBcWEVWQ41">Gastroenteritis por rotavirus
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item692" href-inappbrowser="https://drive.google.com/open?id=1S_iwJf1rajyCJxWY2Ug066RR6D0htErj">Fisiología de la lactancia
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item706" href-inappbrowser="https://drive.google.com/open?id=1V9YAMlq6bF1zna0QX2zFB8C3AdD4cSPW">Evaluación del estado nutricional
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item705" href-inappbrowser="https://drive.google.com/open?id=1MA8M9-nYd4kVBsEg0jJ3bDQnBaNuFFHq">Escroto agudo
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item704" href-inappbrowser="https://drive.google.com/open?id=1a6s0gMdSDiFn6LCH858jaRdlTAktbAL6">El reflujo gastroesofagico
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item703" href-inappbrowser="https://drive.google.com/open?id=1EAeh67NZr2lKep53ehK52aaVi2ry21Bi">Diarrea crónica
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item702" href-inappbrowser="https://drive.google.com/open?id=1OVPhiQ4rCjaklXGalgCbAYC97K2hAWXx">Diarea aguda
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item701" href-inappbrowser="https://drive.google.com/open?id=1iKE3tVoN7PFbdMsjlnXou5QfrLrkNSN3">Deshidratación
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item700" href-inappbrowser="https://drive.google.com/open?id=13TdVV4UToAhqTdvSklxcIYLcSGE2DlrI">Deshidratación - Hidratación
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item699" href-inappbrowser="https://drive.google.com/open?id=1kgMNlvleaOjPQFqf4z2RGhMA53-w7brD">Desarrollo de la inteligencia
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item722" href-inappbrowser="https://drive.google.com/open?id=1yBCMvdUMvhHVzzWCF7yEWcKM6YQowB8F">Pediatría
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item721" href-inappbrowser="https://drive.google.com/open?id=1utKAL-PyyKReJOOKQnujHsd4Q0Wq3YLh">Criterios de Jones
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item720" href-inappbrowser="https://drive.google.com/open?id=1btO8Wt-Fmgpfen9zq4uTTJjP_wuc_KJa">Crecimiento y desarrollo
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item719" href-inappbrowser="https://drive.google.com/open?id=1N0Wrmjc6iSWK_6pooicLyN7qGYaNBArK">Controles durante la adolescencia
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item718" href-inappbrowser="https://drive.google.com/open?id=1-q9Bf5qx0-El1LXaV7yAdGuPYL32Ebyb">Contraindicaciones de la lactancia
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item717" href-inappbrowser="https://drive.google.com/open?id=19TP76Xwy9tXDWzs77DqeKsavMXjYU8Ap">Consenso sobre meningitis
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item716" href-inappbrowser="https://drive.google.com/open?id=1APjWYjRKZmKBqbwvfqjoSoe5VAnYm56w">Consenso sobre factores de riesgo
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item715" href-inappbrowser="https://drive.google.com/open?id=1dXeY82XyEmOn79723reoG7nJzsZi9o1p">Anemia ferropénica
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item714" href-inappbrowser="https://drive.google.com/open?id=12SxFumq8MOvLqjFzUvkC8DEjBwQ8U09d">Composición de la leche humana
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item713" href-inappbrowser="https://drive.google.com/open?id=1-2QAqgKvt69AV6oA03vc-YNF1YR3Wvil">Cirugía pediátrica
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item712" href-inappbrowser="https://drive.google.com/open?id=1MMadv4hVPZvzOY3NVZB7FVvAm6gI90kK">Cardiopatias congénitas
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item723" href-inappbrowser="https://drive.google.com/open?id=1EUsBXkstC8gSiWE5VVWazUo-T6A9qr8f">Cardiopatias congénitas 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item711" href-inappbrowser="https://drive.google.com/open?id=1j-jXI5CNSTNEb4JQ0DYl0SL1msW1O-bW">Bronquiolitis
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item710" href-inappbrowser="https://drive.google.com/open?id=1QElSYKnaDPLsthjBAFUDG9nmJkImyuXO">Atención de recién nacido sano
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item730" href-inappbrowser="https://drive.google.com/open?id=1QkocpUOLjWhCVxAFmC_M-Z6-rd0Rzjra">Hiperbilirrubinemia en los RN
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item729" href-inappbrowser="https://drive.google.com/open?id=1yVZyOogoh2NdjjChiCLkGzeI9B2qvWJA">Anemia
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item728" href-inappbrowser="https://drive.google.com/open?id=1rKKzS1n2kV89cANRyt5xOkKcDJYYF7R9">Alteraciones del equilibrio Ácido-Base
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item727" href-inappbrowser="https://drive.google.com/open?id=1Gxe3Ep92Fxjv-FP4XdCxnH4W4YxJr4Wr">Alimentación niños de 0 a 2 años
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item726" href-inappbrowser="https://drive.google.com/open?id=1wvV6tUUy4cWjpD7HtXPKeNbn-c8ZWV92">Alimentación complementaria
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item725" href-inappbrowser="https://drive.google.com/open?id=1r9BPtVqimp_Py-ahm85q6hHDnfCqnCWw">AIEPI Patologías respiratorias
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item724" href-inappbrowser="https://drive.google.com/open?id=1VLWP4IEyH_h9RMZCWYGBA76oqGMcDfYP">AIEPI para estudiantes
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item733" href-inappbrowser="https://drive.google.com/open?id=1q4SV44KE8Eb_YK6ZGfcfhtFAGTqzaHxP">AIEPI Diarreas
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item732" href-inappbrowser="https://drive.google.com/open?id=1bSvgmfISIh_k8HjUbuHHS3rPMK9WrLKG">AIEPI Desnutrición
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item731" href-inappbrowser="https://drive.google.com/open?id=1o5Zk7BzWlYYHO6t9q8LR-H3d_N_tw9E8">Adolescencia
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item739" href-inappbrowser="https://drive.google.com/open?id=1v0hLsZQNl0COKK3HqullZqCgjhkHT9sD">Actualización en cardiopatías congénitas
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item738" href-inappbrowser="https://drive.google.com/open?id=1bFzIM2kb6_hOdrawIoFsfDCx-LtISFPG">Abordaje integral de las infecciones respiratorias
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item737" href-inappbrowser="https://drive.google.com/open?id=1xvfEhMmiifuOyyf14KMBLoTPnMEaBaEL">Abordaje de la conducta alimentaria
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item736" href-inappbrowser="https://drive.google.com/open?id=1EHBV8YYUMTerM3dFvB2LnfXnDLZtiMA0">Abordaje del consumo de drogas en la adolescencia
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item735" href-inappbrowser="https://drive.google.com/open?id=1Mb1h-JomCLnKWh4KQKlFy0CD0Mwq4etZ">Abordaje clínico
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item741" href-inappbrowser="https://drive.google.com/open?id=1nIegkySjrakdvCii2Zf7AsdpjErGNrDH">Pediatría (Tomo 1)
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaPediTrica-list-item734" href-inappbrowser="https://drive.google.com/open?id=1_7P0tRGW_Xn1l3eo4z7KlV3OJ7otfXtp">Pediatría (Tomo 2)
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>