<ion-view title="Clínica Neurológica" id="page53" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="clNicaNeurolGica-list125">
      <ion-item class="item-divider" id="clNicaNeurolGica-list-item-divider49"> Material de Estudio</ion-item>
      <ion-item class="item-icon-right dark" id="clNicaNeurolGica-list-item359" href-inappbrowser="https://drive.google.com/open?id=1_LTKPM75ZBEfipjC0QtfU6FM5xPWQERr">Neurología y neurocirugía
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaNeurolGica-list-item360" href-inappbrowser="https://drive.google.com/open?id=123yug_dqgzLtZ5k8KCfP2yQJm2l7Aoem">Neurología
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaNeurolGica-list-item361" href-inappbrowser="https://drive.google.com/open?id=19GNmzm0vMlwTiffuQBWUL-fiCZDNvYxY">Neuroinfecciones
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="clNicaNeurolGica-list126">
      <ion-item class="item-icon-right dark" id="clNicaNeurolGica-list-item362" href-inappbrowser="https://drive.google.com/open?id=1ukLS2bIRSa5cLStuWnIG6Sm79colbGig">Enfermedades Extrapiramidales
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaNeurolGica-list-item363" href-inappbrowser="https://drive.google.com/open?id=1O3genPfN2XyRcN7qoyDl3RrBLGDC0jNs">Epilepsia
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaNeurolGica-list-item364" href-inappbrowser="https://drive.google.com/open?id=1C9Yw_GUCvQ5c6NhQG8WvN67PRUxTIbjF">Cefalea
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaNeurolGica-list-item627" href-inappbrowser="https://drive.google.com/open?id=1yII8a0EYxWE2vWmtqCKcp3dZFPiuCHv5">ACV 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaNeurolGica-list-item626" href-inappbrowser="https://drive.google.com/open?id=1KB7C1VxVw-gxLX-gpwgxiXUDGtjdJlHi">ACV 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>