<ion-view title="Clínica Obstétrica y Perinatológica" id="page57" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="clNicaObstTricaYPerinatolGica-list133">
      <ion-item class="item-divider" id="clNicaObstTricaYPerinatolGica-list-item-divider53"> Material de Estudio</ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item383" href-inappbrowser="https://drive.google.com/open?id=16RqwQ5Eu-XESwrWlnw0N3a2p2aOB_gVw">Nomenclatura
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item384" href-inappbrowser="https://drive.google.com/open?id=16A9u0hObBjpB3-ECxzviKtnbqjCeS7Lj">Modi. Fisiológicas del Embarazo
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item385" href-inappbrowser="https://drive.google.com/open?id=1kSBk04KdTZNZdwYF1EpQ3jZz2r5EwOEn">Canal de parto
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="clNicaObstTricaYPerinatolGica-list134">
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item386" href-inappbrowser="https://drive.google.com/open?id=1AfYjayvIUDXOJ6Fi_NzTubq5eNCiA8Mc">Determinismo del parto
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item387" href-inappbrowser="https://drive.google.com/open?id=14DOgIHU577dKdrCPVGOeY3yzNaQKQvMk">Fenómenos activos y pasivos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item388" href-inappbrowser="https://drive.google.com/open?id=18824f7vzMQPOBQfe2HUwjaKcNOj062KE">Parto cefálico
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="clNicaObstTricaYPerinatolGica-list196">
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item634" href-inappbrowser="https://drive.google.com/open?id=1ZBvG3haqWVZiPblCcb3vRjvfRQoDsspA">Parto podalico
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item635" href-inappbrowser="https://drive.google.com/open?id=12uq7ABlRGWjXtXBwus4auzmMWuJB1zlZ">Alumbramiento y puerperio normal
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item636" href-inappbrowser="https://drive.google.com/open?id=1s-SSlv6mrlR75ZnxnxvOu8tHGUqShhEx">Diabetes y Embarazo
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="clNicaObstTricaYPerinatolGica-list195">
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item631" href-inappbrowser="https://drive.google.com/open?id=1-YEg98gvQ-wbRElaCWEDGGYYIzL0NvEv">Rotura prematura de membrana
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item632" href-inappbrowser="https://drive.google.com/open?id=1kxmFvxZxdOh9CUyPifPTbyx3NkJM5tnd">Embriología
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item633" href-inappbrowser="https://drive.google.com/open?id=14XM7qcAQI-_Not6NlQJovMfl9R3KxwNN">Amenaza de parto prematuro
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="clNicaObstTricaYPerinatolGica-list194">
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item628" href-inappbrowser="https://drive.google.com/open?id=12Cm9CzCIVFRT_fxkNP6lRgemKBtWIdzJ">Ecografía en obstetricia
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item629" href-inappbrowser="https://drive.google.com/open?id=1xFTTlAW9--p4nmaPFKaDjtJUo89-AhOA">Hemorragias de la segunda mitad
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item630" href-inappbrowser="https://drive.google.com/open?id=1x59fn4_OCntJmcim7h9ONZ2cIWQW3Zaq">Bajo peso al nacer
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item646" href-inappbrowser="https://drive.google.com/open?id=1PCIo4EOWxcorh8-Bk9ff6XFsgV_5IqGI">Intervenciones obstetricas
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item645" href-inappbrowser="https://drive.google.com/open?id=1L9kFC4A3objSMTcYJMqz3EdZLJzZir6F">Recién nacido sano
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item644" href-inappbrowser="https://drive.google.com/open?id=1VtzjdDIwV4Qekj5zbV-s8KEWGoEeg4wr">Recién nacido patológico
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item643" href-inappbrowser="https://drive.google.com/open?id=1oulMYyiJwJlLsXrba5xhlL5CFOrOzDgK">Puerperio patológico hemorragico
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item642" href-inappbrowser="https://drive.google.com/open?id=1Eg22DO2PSXlZqyYDavCwD8aYeBoSI5jv">Infección de tracto urinario
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item641" href-inappbrowser="https://drive.google.com/open?id=1-6kzZ6sfsBp6PY0R1d8WO47qZ4scQ6hf">Alumbramiento
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item640" href-inappbrowser="https://drive.google.com/open?id=1M4qgNQ9CtZx3uP0kAGyFgTcyNT-Aulou">Cambios fisiológicos en el embarazo
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item639" href-inappbrowser="https://drive.google.com/open?id=1kGGGxG0fT7wgY4RhSbE9GXshV0viRsrp">Canal de parto
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item638" href-inappbrowser="https://drive.google.com/open?id=1aIh29hNtl3mQNw-BIPUu8dEce5DZS9Qx">Maternoneonatal
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item637" href-inappbrowser="https://drive.google.com/open?id=1duzWyOBaG9t_qrQgEeCtS3t0KpgiSTO4">Control prenatal
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item652" href-inappbrowser="https://drive.google.com/open?id=1TLAOTLsGcIQESwq4GJlx2Q142TbQFHMp">Cuidados prenatal
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item651" href-inappbrowser="https://drive.google.com/open?id=177Lizbs6fu2gRH7cqkW8lUVOyGMdFMct">Diagnostico del embarazo
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item650" href-inappbrowser="https://drive.google.com/open?id=1EwxtS1MKcLYRf8gQwp7Lj2yYlykA65lR">Distocias del parto
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item649" href-inappbrowser="https://drive.google.com/open?id=1G-Z9OOc7NdWoOUJJyxEkE1XgvS5zns9D">El Determinismo del parto
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item648" href-inappbrowser="https://drive.google.com/open?id=1v8gbsJMepaKKNa9dqCkQkM0lmXzAg-dW">Embarazo múltiple
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item647" href-inappbrowser="https://drive.google.com/open?id=10Knpp6igxuvFafUZCNBmSRON24FXv9Zw">Enfermedad hemolitica
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item659" href-inappbrowser="https://drive.google.com/open?id=1zQPSoBTOdhemfiCmcVw3G6aquZf4KtWW">Evaluación de la salud fetal
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item670" href-inappbrowser="https://drive.google.com/open?id=117Yl8WqKN083vqxndzlFw2BZSh_xdfXO">Fenómenos del trabajo de parto
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item669" href-inappbrowser="https://drive.google.com/open?id=1J29YHtOX7o2fICkykOi4Aizw2X5ZYjog">Genética general
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item668" href-inappbrowser="https://drive.google.com/open?id=1qrJD7hsDHv8D9OpOXLGOeSL1xLfNsprm">Estados hipertensivos del embarazo
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item658" href-inappbrowser="https://drive.google.com/open?id=14uHAWFesK9NZOTcBf73I8zhnQERVtAih">Hemorragias 1° mitad del embarazo
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item657" href-inappbrowser="https://drive.google.com/open?id=10w9N48QN734a794-wweWQvj9lef9Pesn">Hipoxia intrautero
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item656" href-inappbrowser="https://drive.google.com/open?id=1kYI7wX2xuPbgEtlePW_MkXwLC5GBaBKQ">Infección SIDA y embarazo
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item667" href-inappbrowser="https://drive.google.com/open?id=1QsYpUzGDRLL3ZH4UNF8efHjWrZ1_oZd4">La placenta: funciones
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item655" href-inappbrowser="https://drive.google.com/file/d/1JpVlBTyyl_KQXTjpgcoZc-1B64uEss4J/view?usp=sharing">Liquido amniótico normal
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item654" href-inappbrowser="https://drive.google.com/open?id=1GsyblmGNbnUJHA8mSK_u7t5vyIRp69_v">Mecanismo de trabajo de parto
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item653" href-inappbrowser="https://drive.google.com/open?id=1lfdus1sJifkHOaMVTJZAGImEuEiIOEW5">Móvil fetal
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item666" href-inappbrowser="https://drive.google.com/open?id=1O9oMToTz2hQbJ3I4zMSQIZM2e-ojvZnM">Pelvis osea blanda
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item665" href-inappbrowser="https://drive.google.com/open?id=1UKjF6g63qCdR1a8zFCMyWqA97zog2VqZ">Prinatología
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item664" href-inappbrowser="https://drive.google.com/open?id=1nFHcab0ji9O8AfkrAMHFbr5oiqXGPq0S">Polihidramnios y oligohidramnios
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item663" href-inappbrowser="https://drive.google.com/open?id=1UKbMWIiHKpzjzcjMfSjxVUf7d6k9Y94H">Podalico
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item662" href-inappbrowser="https://drive.google.com/open?id=1Ta6ANVzBcNzpKOJ6VA5uv6f02gYmp2lB">Puerperio patológico
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item661" href-inappbrowser="https://drive.google.com/open?id=1rNW0wlpJY8bi39OEfW1CUtWMxTAY0tPh">Salud sexual reproductiva
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item660" href-inappbrowser="https://drive.google.com/open?id=1o1iyKO3d-PN-6ikFmRESHIO88avPeUD9">Infecciones TORCH
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item671" href-inappbrowser="https://drive.google.com/open?id=1Od9To7QiDtiPc1AqrqC9T2EJqRVQqa2C">Trastornos Hipertensivos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item675" href-inappbrowser="https://drive.google.com/open?id=1vA-6Di9ilc8umFOHH45FWnCXBEzM7jTD">Tumores en pediatría
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item674" href-inappbrowser="https://drive.google.com/open?id=1B2vJkNgB-HKtnMY6z-ftIJerC3CosNSD">Tumores en pediatría 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaObstTricaYPerinatolGica-list-item673" href-inappbrowser="https://drive.google.com/file/d/1U05fy1eWdPIkkm_bw1DEmReTmoKQV3qk/view?usp=sharing">Semiología y nomenclatura obstetrica
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>