<ion-view title="Clínica Urológica" id="page68" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="clNicaUrolGica-list154">
      <ion-item class="item-divider" id="clNicaUrolGica-list-item-divider58"> Material de Estudio</ion-item>
      <ion-item class="item-icon-right dark" id="clNicaUrolGica-list-item465" href-inappbrowser="https://drive.google.com/open?id=1hlI_M-1LI-3JDqlC20Mk8sZzuIGyaDex">1.Clase Inaugural Urología
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaUrolGica-list-item466" href-inappbrowser="https://drive.google.com/open?id=1P27D9JuGF1G2TlFMOLLAD0X8wYSmeOMF">2. Cistoscopía UNLaR
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaUrolGica-list-item467" href-inappbrowser="https://drive.google.com/open?id=11h5UCMZ5kb7RBULyuRF0G0mkE4AAp6tK">3. Infecciones urinarias
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="clNicaUrolGica-list113">
      <ion-item class="item-icon-right dark" id="clNicaUrolGica-list-item176" href-inappbrowser="https://drive.google.com/open?id=1lSnaAex5bBejrcCiyao0Xby9a-pphRAF">4. Litiasis renoureteral
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaUrolGica-list-item177" href-inappbrowser="https://drive.google.com/open?id=1b1Yhps7Il9WY1GmfMIPg-nneM24AY9O2">5. Hematuria microscópica
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaUrolGica-list-item178" href-inappbrowser="https://drive.google.com/open?id=1YL_-2BAkhMz6fAZ7_AHMwxG7wBnDUwXo">6. Uropediatría
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="clNicaUrolGica-list117">
      <ion-item class="item-icon-right dark" id="clNicaUrolGica-list-item180" href-inappbrowser="https://drive.google.com/open?id=1vdqjorfh_JSM9cYrawkB18JD-YrfhjHU">7. Patología de genitales y cubierta escrotal
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaUrolGica-list-item181" href-inappbrowser="https://drive.google.com/open?id=1JmPXqLrIqPFXnVEZa0vvMOgwC27KbPeT">Cáncer de próstata, testículo y vejiga
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaUrolGica-list-item182" href-inappbrowser="https://drive.google.com/open?id=1sWLutS0VSFFZLaQ8x82Pf2QYvujWj5m0">Fisiología de la Micción
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="clNicaUrolGica-list112">
      <ion-item class="item-icon-right dark" id="clNicaUrolGica-list-item169" href-inappbrowser="https://drive.google.com/open?id=1QUN1hTol63QuQB95O4ajlnUrKvmWn32r">Hiperplasia benigna prostática
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaUrolGica-list-item174" href-inappbrowser="https://drive.google.com/open?id=1MGjC1d2BQQ8_v8S6Cj9Z40kLI4kHcjTT">Incontinencia de orina
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaUrolGica-list-item175" href-inappbrowser="https://drive.google.com/open?id=15Oo-3ayAg7qg3H6krZ8wjIdAXsb6WFUP">Infecciones de Transmisión Sexual
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="clNicaUrolGica-list155">
      <ion-item class="item-icon-right dark" id="clNicaUrolGica-list-item468" href-inappbrowser="https://drive.google.com/open?id=1xmuYWnNtYLpb9hz9ajBfySRM-Cczz2-4">Patología no tumoral de pene
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaUrolGica-list-item469" href-inappbrowser="https://drive.google.com/open?id=10yirOOF3vktHYgUQho_hEPiiPQesPce3">Traumatismo de la uretra anterior
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaUrolGica-list-item470" href-inappbrowser="https://drive.google.com/open?id=1e6InJcnzbW8VMTwfedTar7eW0f1DjxtQ">Tumor de prostata
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>