<ion-view title="Clínica Dermatológica" id="page52" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="clNicaDermatolGica-list123">
      <ion-item class="item-divider" id="clNicaDermatolGica-list-item-divider48"> Material de Lectura</ion-item>
      <ion-item class="item-icon-right dark" id="clNicaDermatolGica-list-item353" href-inappbrowser="https://drive.google.com/open?id=1N59jFY7IsTNNZoZWeNTCmEk21k3hXN7j">Actualización de Tratamientos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaDermatolGica-list-item354" href-inappbrowser="https://drive.google.com/open?id=1dKWEqGtwhyRuEkeYzPwjgkxZDa20240T">Dermatología
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaDermatolGica-list-item355" href-inappbrowser="https://drive.google.com/open?id=1BCjIwNwRToPGQt5OP2e0jn87ufjDWRuk">Dermatología Apunte
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>