<ion-view title="Clínica Médica II" id="page55" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="clNicaMDicaII-list130">
      <ion-item class="item-divider" id="clNicaMDicaII-list-item-divider85"> Material de Estudio</ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item374" href-inappbrowser="https://drive.google.com/open?id=1x_7_iZQ2DueFq1KQQasZHIlPu0C2RJm6">Abdomen Agudo
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item373" href-inappbrowser="https://drive.google.com/open?id=1ktO_RhMeQAXy5roPdgR6-4t-eGfsSfWW">Apendicitis Aguda
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item396" href-inappbrowser="https://drive.google.com/open?id=1ZDJ1uKrrO-zK2qZCq-HVQ3zDyqAH-a82">Cáncer Gástrico
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item395" href-inappbrowser="https://drive.google.com/open?id=1e_cl_nLo81ggAWpt3llNTOwQlB08Wz4t">Enfermedades Diverticulares
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item372" href-inappbrowser="https://drive.google.com/open?id=1Vv1sqpO6rUklOviwhuQC209g7GvmtJXF">Hemorragia Digestiva Baja
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item371" href-inappbrowser="https://drive.google.com/open?id=1Hoyz-ut6I4WdSUwvK42lD6o33c37X_yG">Reflujo Gastroesofático
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item370" href-inappbrowser="https://drive.google.com/open?id=1U4WiDZ1ewLJj_d0SxLPb2vxYhhKkKP3g">Lesiones focales hepáticas
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item358" href-inappbrowser="https://drive.google.com/open?id=1h5F7rtGgEfu6GLSKrPaxGhtJVKTs4M-D">Insuficiencias Respiratoria
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item382" href-inappbrowser="https://drive.google.com/open?id=1BVgT8HowWKVRUY9wYJSo9HqtLnVr7skw">Páncreas
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item357" href-inappbrowser="https://drive.google.com/open?id=1xBseBnn7wfSfC9_oJMpAScUZ1oGg9Ur0">Sangrado Digestivo
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item356" href-inappbrowser="https://drive.google.com/open?id=1d03DqZuDbubfjfmcSFuWbdl-5dHYxJsg">Acute Pancreatitis
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item380" href-inappbrowser="https://drive.google.com/open?id=1e9d9irFouNF-aKAzBKlU6AHGpzRJjKZJ">Adicción y dependencia al tabaco
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item379" href-inappbrowser="https://drive.google.com/open?id=1O76hpbHnippkar0avM-PwPHMn5Tekcyl">Alzheimer
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item378" href-inappbrowser="https://drive.google.com/open?id=1F9HK4Vs1a0JZNqCQhEn5eESqFNquzb_O">Angina estable
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item377" href-inappbrowser="https://drive.google.com/open?id=1qEJnUIBldj5_3aYT26BguVvoVQnYISPo">Angina de Pecho
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item376" href-inappbrowser="https://drive.google.com/open?id=1WmdYWJPJ2Tm753AurluM9pgog-IvRZXu">Hipertensión Arterial
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item375" href-inappbrowser="https://drive.google.com/open?id=1ClD0bsLUGx-Duw-b0cT6OO4GXXAcqBoR">Arritmias Cardíaca
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item337" href-inappbrowser="https://drive.google.com/open?id=1GIRLguSFsTIdzYvZ1KY7dnV-SHp6AuHU">Arritmias
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item352" href-inappbrowser="https://drive.google.com/open?id=1Unh7OMDqD-0WhzuEHoXRZ4YPG1j373RF">Presentación de las Arritmias
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item336" href-inappbrowser="https://drive.google.com/open?id=1fiS4_sM2KsmhAsl2C-Ty-T-y1Yhnsa8C">Artritis Septica
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item351" href-inappbrowser="https://drive.google.com/open?id=1r90uTSwY8kMHHQ4tm-lAW3IjlkiI7cVr">Asma y EPOC
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item335" href-inappbrowser="https://drive.google.com/open?id=1zHDT4ZasbZNcXkY26pmOwDFZNq_X0Pot">Tratamientos del Colesterol
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item332" href-inappbrowser="https://drive.google.com/open?id=14BrcQsyl5M46qX-Gfy_bzpCd2Z6GEmaa">Cariovascular
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item328" href-inappbrowser="https://drive.google.com/open?id=1aW8qPiUiluqfoI12QHQlLGkg737TGX44">Caso clínico insuf. suprarrenal 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item397" href-inappbrowser="https://drive.google.com/open?id=10_jj4W08eTHCI9c5LkxjaEPcqu6qBZu3">Caso clínico insuf. suprarrenal 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item327" href-inappbrowser="https://drive.google.com/open?id=1Lemf1S0JzVYWHIT9Ti497gXBmhXfJd3o">Chagas
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item325" href-inappbrowser="https://drive.google.com/open?id=1lA2MzYzYqfj-Rni3FG1490UxbU58NxtN">Cirrosis
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item350" href-inappbrowser="https://drive.google.com/open?id=13ApQDFLwruMGvb4NAVmvFAyh6uBuV-bZ">Complicaciones de la Diabetes
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item349" href-inappbrowser="https://drive.google.com/open?id=1OOOTyvY0UC_z2VvX432HvSDWn5FQP1gG">Complicaciones del IAM
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item348" href-inappbrowser="https://drive.google.com/open?id=1vgAJZi7BV7urRMgyPjsyzhfgfY3Mte05">Corteza suprarrenal
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item345" href-inappbrowser="https://drive.google.com/open?id=1y-w2tXihNrAV7EqIBQsPcsFAB4Andk25">Genética
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item344" href-inappbrowser="https://drive.google.com/open?id=1LcEjf6l3A6Ot_OVOFLbo2OfJb8iF9dli">Diabetes Mellitus
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item340" href-inappbrowser="https://drive.google.com/open?id=1En-0u7mgeuqG4H3Rarm6pQbEoFGbtCgV">Diagnostico por imágenes
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item339" href-inappbrowser="https://drive.google.com/open?id=1M9x1o_7yhcv-JsI7VAQ62lkqWINBsgNh">Diarrea Aguda
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item412" href-inappbrowser="https://drive.google.com/open?id=1VhBBRhoxwcVk_XutGSd5c70Tu-BelcQ4">Disección de Aorta
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item445" href-inappbrowser="https://drive.google.com/open?id=1o8CK0s7MxF0DZlWRof70Gasu6ObdXKim">Dolor
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item444" href-inappbrowser="https://drive.google.com/open?id=1IQ3bZJzSeSW98WbXS_QsaVzgCmCbmBpg">Dolor Torácico
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item411" href-inappbrowser="https://drive.google.com/open?id=1L5cH049jwOSWhoYUiezOzpJBeKuMi_mM">Edema pulmonar agudo
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item409" href-inappbrowser="https://drive.google.com/open?id=1-rLI7QtZgGitMzvZ6pHHYNkD5oH7krC9">El laboratorio de reumatología
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item443" href-inappbrowser="https://drive.google.com/open?id=18MdHq6PCM8HcOYbDjHASsOaKbo1welXz">Electrocardiograma Normal
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item408" href-inappbrowser="https://drive.google.com/open?id=1UdsAexzXJO4ct2KWwsu0YmS4J3YVzTv-">Endocarditis Infecciosa
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item407" href-inappbrowser="https://drive.google.com/open?id=1WS6Z6MKK9PnM31OPkDgyMbVusvdFqvTA">Enfermedad coronaria
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item400" href-inappbrowser="https://drive.google.com/open?id=1SQef9uS-1UIIpip8etHQWFpcdc6iyfFC">Insuficiencias Respiratoria Crónica
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item399" href-inappbrowser="https://drive.google.com/open?id=1k1tIQegIpC1kFs5V5fh9UPuxy8g671jJ">EPOC y Enfisema
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item442" href-inappbrowser="https://drive.google.com/open?id=1m6OMPx8AsTl56U4SJHLHsg3V2Gf6ZBhM">Insuficiencia Respiratoria Crónica
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item441" href-inappbrowser="https://drive.google.com/open?id=1nuykO4BFO8BJ9AR02J0a_OlkjObL153b">Estrés
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item418" href-inappbrowser="https://drive.google.com/open?id=1nokHUHGmr9ueQJnkRDs7Xn_UB7yGWDAU">Fármacos Aritméticos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item417" href-inappbrowser="https://drive.google.com/open?id=16wF6PQN3SuG4A71ZMrh6c72zoFl8eQpb">Fibrilación Auricular
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item416" href-inappbrowser="https://drive.google.com/open?id=1ORE_FuzMHd-Y73r8sgwCIpYU87rlysw_">Fiebre reumática
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item415" href-inappbrowser="https://drive.google.com/open?id=1uY-Pw-1eo3OgJE_8-1E-lwbcxghetNd2">Gamapatias monoclonales
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item414" href-inappbrowser="https://drive.google.com/open?id=1gIeJZ7L9jTESIMPC7EVbP6Ufn8nyBcAn">Glomerulopatias Secundarias
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item454" href-inappbrowser="https://drive.google.com/open?id=1ok7IfTtOK-DvEpfZtugHLfR4fxflApnn">Hepatitis C
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item453" href-inappbrowser="https://drive.google.com/open?id=1TmyvY5FTfs9iIaGiL6KbZ1V_rW5oyu5w">Hepatitis E
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item451" href-inappbrowser="https://drive.google.com/open?id=1ttgqafSOivRAdquxCXZJm0_8GCc6ii3Q">Hipertensión Pulmonar
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item450" href-inappbrowser="https://drive.google.com/open?id=1-7S0LCMkZq6VZvTGbb7yZJKNE3G2SC8u">Hipotiroidismo
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item449" href-inappbrowser="https://drive.google.com/open?id=1E5yP_fAVVPKfmaEM_F2hUHQj87DbO4ah">Insuficiencia Respiratoria
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item448" href-inappbrowser="https://drive.google.com/open?id=1JuVHY0UqIe0ucAm_Y982OI4uwhF5utg4">Insuficiencia Renal Aguda
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item460" href-inappbrowser="https://drive.google.com/open?id=1P4gmimYOpetGwxh2QeIAAbJEAxCZEcn1">Insuficiencia Renal Crónica
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item447" href-inappbrowser="https://drive.google.com/open?id=1wgfA3L3TrOnRZlyCm4Gyq3uoTkvxldnH">Intoxicaciones
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item459" href-inappbrowser="https://drive.google.com/open?id=109MSiUNRfB1ziszGx234CNDFJpN47nzD">Infección del tracto urinario
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item458" href-inappbrowser="https://drive.google.com/open?id=1GduWdfLTko5hloOQPsW1yo0NoTrcamNz">Manejo inicial del Politraumatizado
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item457" href-inappbrowser="https://drive.google.com/open?id=1faPxEcHsS217GrCsEAEE0WdVHu4GuH7m">Manual Cardiología
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item456" href-inappbrowser="https://drive.google.com/open?id=1bs8sIYaVW5fo0LjE8PkatAUnXekGSiMC">Marcapasos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item489" href-inappbrowser="https://drive.google.com/open?id=1WdrS5iIBjwW-jJkg5BNkRdI1Rc1ixcbu">Medicina Interna
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item482" href-inappbrowser="https://drive.google.com/open?id=19XkFFFOU7YpAQTsw0bQXJWDGEqZsdLzc">Meningitis Bacteriana
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item479" href-inappbrowser="https://drive.google.com/open?id=1znUtq4VSRmzxWncwE3NvOD-VpRLO0PQL">Miocardiopatias
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item478" href-inappbrowser="https://drive.google.com/open?id=1ivxK2bgZlgCtnHzbWlrR5RtgGrqC6GkA">Nefropatias Glomerulares
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item477" href-inappbrowser="https://drive.google.com/open?id=1ZeyJGSUeFvhDWGUiTKGcw6jpZtXMX5wL">Neumonía
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item464" href-inappbrowser="https://drive.google.com/open?id=1fDdYlC6egvVBut1HdpX3Gb5_aF9nan6i">Neumonía Febril
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item463" href-inappbrowser="https://drive.google.com/open?id=1Q2yVhEzPplcqfHYgk7urU3LqUpFNJi7w">Piel
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item461" href-inappbrowser="https://drive.google.com/open?id=1Jza7HnsX5F5M6t-C866x9Prp0vM93lcC">Politraumatismo
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item499" href-inappbrowser="https://drive.google.com/open?id=1tGbUwqCGmWy5S1N0uX9RBwfANu4zhdTU">Preparación Prequirurgica
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item498" href-inappbrowser="https://drive.google.com/open?id=18mXwZG77AQvnWkLQflOgHfLIXooeRdj2">Pruebas de función hepática
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item497" href-inappbrowser="https://drive.google.com/open?id=1q13HzyiBi7TzZysIt4L97dooX-hUc0o_">RCP básica
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item496" href-inappbrowser="https://drive.google.com/open?id=1zpn6rG1q0t9Lbxq4x1qkmNDQnB5NXz3x">Shock cardiogénico
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item494" href-inappbrowser="https://drive.google.com/open?id=1l2C8LF_4o8IYcOTQUjkDjlEUKZZ02y8v">Sincope
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item492" href-inappbrowser="https://drive.google.com/open?id=1crJz6N-CooZKlbIto6rwiEdbNzCGsBv1">Síndrome Antifosfolipídico
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item491" href-inappbrowser="https://drive.google.com/open?id=1Q_SZLJB2o7ifdMvw-sAXk6_mNjRFzE4s">Síndrome febril prolongado
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item490" href-inappbrowser="https://drive.google.com/open?id=1fEvb5Zv34JpWSkdy10lLo6RaGyH7ycWn">Síndromes pericardicos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item506" href-inappbrowser="https://drive.google.com/open?id=1elWethyxEdCnuVhoaIamyAq5nQwZ9cXW">Síndromes renales
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item505" href-inappbrowser="https://drive.google.com/open?id=1w9-hQioDbv9uPICQeSXudx_uEGucB1Mr">Tabaquismo
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item504" href-inappbrowser="https://drive.google.com/open?id=1yADeL6ScBU4nb_RL5k-W1k9vvqFVtedU">Tiroides
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item503" href-inappbrowser="https://drive.google.com/open?id=1_Qy_38rzJmr5sOb2OSZOlrd13xfOLTFD">Trombosis venosa profunda
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item502" href-inappbrowser="https://drive.google.com/open?id=10UO5kuwOijSL17G6O2hODXUXYtc3V7FT">Tumores intracraneales
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item500" href-inappbrowser="https://drive.google.com/open?id=1iaIb9JykkBdqoDw7FtifgI_WGh9sqCyD">Valoración Prequirurgica
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaII-list-item510" href-inappbrowser="https://drive.google.com/open?id=1O8KGQ8y27pqMiIOU3YjpuKtV1HwjrIPX">Vejez y calidad de vida
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>