<ion-view title="Clínica Médica I" id="page44" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="clNicaMDicaI-list107">
      <ion-item class="item-divider" id="clNicaMDicaI-list-item-divider36"> Diapositivas</ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaI-list-item305" href-inappbrowser="https://drive.google.com/open?id=1ZI7Rc5mmzX9HuhXmSsiGa-pE6tjNkymN">Sistema Arterial
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaI-list-item306" href-inappbrowser="https://drive.google.com/open?id=1Ek00riZSHn1SbMpij7XswKXzD1BZ1OvQ">Sistema Endocrino
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaI-list-item307" href-inappbrowser="https://drive.google.com/open?id=1H9EFvZBbJNNVLXGtAE4WwqyxQQ-oVDmT">Sistema Endocrino 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaI-list-item142" href-inappbrowser="https://drive.google.com/open?id=1Kl1OHVnbaytu_U5Ji2OHyx2Q9KAdegeZ">Paciente Reumático
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaI-list-item141" href-inappbrowser="https://drive.google.com/open?id=18Fq2jkqNyWPzlZeB3PyUEVLQ8euMB1lo">Propedéutica Clínica y Semiología Medica 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaI-list-item140" href-inappbrowser="https://drive.google.com/open?id=1oyucHXZMrSmxFP2NDCD6aL4fhbKiHU9O">Propedéutica Clínica y Semiología Medica 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaI-list-item139" href-inappbrowser="https://drive.google.com/open?id=1zeqhQZbAjpQM6QcYrk1cFPeqGQEikhzc">Monoartritis Aguda
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaI-list-item138" href-inappbrowser="https://drive.google.com/open?id=1c8HWJkw8wzlAXPMMOIcSYiOqdO9qMITx">Lupus Eritematoso Sistémico
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaI-list-item136" href-inappbrowser="https://drive.google.com/open?id=1cOVlnBxvCXQGwizT6w6T_bwOpg41c22v">Insuficiencia renal aguda
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaI-list-item135" href-inappbrowser="https://drive.google.com/open?id=1MVfiBd_SqIghMLIatSKY0Grs8y_sHppI">Inflamaciones oído externo y medio
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaI-list-item134" href-inappbrowser="https://drive.google.com/open?id=1Mi-svMV0_ZW9Pqt7wgVSoXvwe-Sw-UYv">Hipoacusias
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaI-list-item147" href-inappbrowser="https://drive.google.com/open?id=1pUpgZt-SVPmdt5ValAxDgdvAz8TtfeqG">Hipoacusia Súbita
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaI-list-item145" href-inappbrowser="https://drive.google.com/open?id=1l8LYRLXog459cHk1goA5VCg-yGtGYqRG">Fibrosis Pulmonar
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaI-list-item144" href-inappbrowser="https://drive.google.com/open?id=1AL68sRAXgdxxKscHm0w85tYkHvvRLnt6">Sistema Nervioso
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaI-list-item156" href-inappbrowser="https://drive.google.com/open?id=1q3nvEo7AD-58OB8eaEWlf7phLfZuAdVN">Síntomas Cardiovasculares
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaI-list-item154" href-inappbrowser="https://drive.google.com/open?id=102JY0rEQZ6Egp3WpLHgguHD-N4RWH-uI">Artritis Seronegativas
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaI-list-item153" href-inappbrowser="https://drive.google.com/open?id=17D5vh4QxRAm4vqKSatQ5Lkvc_JPWCj8d">Artritis Reumatoidea
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaI-list-item152" href-inappbrowser="https://drive.google.com/open?id=1OZkCE0UdY55pIms_ypuuRlNY1G7tvSX1">Anatomía y Fisiología del oído
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="clNicaMDicaI-list108">
      <ion-item class="item-divider" id="clNicaMDicaI-list-item-divider37"> Material de Lectura</ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaI-list-item308" href-inappbrowser="https://drive.google.com/open?id=1Tjtmezm4-17QAxpbWzDz_dbxho1weV2-">Terapéutica Racional en APS
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaMDicaI-list-item309" href-inappbrowser="https://drive.google.com/open?id=1o38zUdhcibFlUX0D2kyVa6mHOPJhKuHP">Semiotecnia
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>