<ion-view title="Clínica Quirúrgica I" id="page56" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="clNicaQuirRgicaI-list132">
      <ion-item class="item-divider" id="clNicaQuirRgicaI-list-item-divider84"> Diapositivas</ion-item>
      <ion-item class="item-icon-right dark" id="clNicaQuirRgicaI-list-item381" href-inappbrowser="https://drive.google.com/open?id=1hAMu4sYdhllhN2g7nputfcXPKV8mZ-Hg">Abdomen agudo cuadro
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaQuirRgicaI-list-item211" href-inappbrowser="https://drive.google.com/open?id=1wIu0vY4tfYm_GCjqbJ44gyqpsAknksh6">Abdomen agudo
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaQuirRgicaI-list-item209" href-inappbrowser="https://drive.google.com/open?id=1Gi46mzTSwYR5cMJl3aim1AMeUHJ7e524">Abdomen agudo definición
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaQuirRgicaI-list-item220" href-inappbrowser="https://drive.google.com/open?id=18FHHVp_Gh_f3u8aCYTmkATsc0wfYMDxZ">Anatomía y Fisiología del Oído
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaQuirRgicaI-list-item208" href-inappbrowser="https://drive.google.com/open?id=1vB5OwmqJAl9gSvdZ2BACieTXtnlCdseL">Apendicitis Aguda
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaQuirRgicaI-list-item207" href-inappbrowser="https://drive.google.com/open?id=15dJdSE6Nf28YRwCJsPnyl12wSf8dn9qt">Curso de instrumentación
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaQuirRgicaI-list-item206" href-inappbrowser="https://drive.google.com/open?id=1SPoBu611riRZI7NcSbGj7LozkiORJMPO">Cáncer de Esófago
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaQuirRgicaI-list-item205" href-inappbrowser="https://drive.google.com/open?id=1UNN1_SJexONhu3lyaJx2_O4pUWu2tj3w">Cáncer de Laringe
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaQuirRgicaI-list-item219" href-inappbrowser="https://drive.google.com/open?id=115AOYttIzUEvoCe5Svste_bbsEKf3noj">Pleura
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaQuirRgicaI-list-item218" href-inappbrowser="https://drive.google.com/open?id=14PAhLslDparwf_z4v64jGc9DQDNhU41A">Colitis Ulcerosa
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaQuirRgicaI-list-item217" href-inappbrowser="https://drive.google.com/open?id=1ax3nuKZ4UJsDAe5dqrwl2oql2c20xjBr">Hemorragia Digestiva
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaQuirRgicaI-list-item216" href-inappbrowser="https://drive.google.com/open?id=1MWBvipGJ5CEy8YK9w5KydLI7SFzgATks">Hemorragia Digestiva Alta
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaQuirRgicaI-list-item204" href-inappbrowser="https://drive.google.com/open?id=1iSS6P2SbI54eMAgF1xB67dtNZKvrSowc">Hipoacusia Súbita
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaQuirRgicaI-list-item315" href-inappbrowser="https://drive.google.com/open?id=1fXXhbEilA-NKjOUwFHVbkgDr_GeN6jDY">Hipoacusias Traumatismo Acústico
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaQuirRgicaI-list-item314" href-inappbrowser="https://drive.google.com/open?id=1ABXX5Msf4Tuzt6xOrV166ltq0PPxUK2q">ILEOS
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaQuirRgicaI-list-item313" href-inappbrowser="https://drive.google.com/open?id=1gMH7vm2BESjYEdMtoS3zPIGhwNdUQsOw">Inflamaciones Oído Externo y Medio
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaQuirRgicaI-list-item310" href-inappbrowser="https://drive.google.com/open?id=1iadq9iDHMxH4XB3uL-ChGn2Muf2TbGC0">Oclusión intestinal
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaQuirRgicaI-list-item304" href-inappbrowser="https://drive.google.com/open?id=1Ea6kX5FthRWo83xEroI9x2egrAUVsIrY">Otitis media con efusión
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaQuirRgicaI-list-item223" href-inappbrowser="https://drive.google.com/open?id=1zMcxhJ_ibKl6zjoWBsuXNaXYXlbZAcmk">Pancreatitis aguda
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaQuirRgicaI-list-item222" href-inappbrowser="https://drive.google.com/open?id=1ERk9oxclziKmHsdVcPQHr7cE8iUaKPbA">Pleura
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaQuirRgicaI-list-item320" href-inappbrowser="https://drive.google.com/open?id=1Dpfkp8MOwOfd5jZiOIolpVLg0MZsCsVE">Pos Operatorio
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaQuirRgicaI-list-item319" href-inappbrowser="https://drive.google.com/open?id=1vMXRRvlDy6JhOPuUvu4-_4pPr62tbndM">Quemaduras Tratamiento
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaQuirRgicaI-list-item316" href-inappbrowser="https://drive.google.com/open?id=1JnT69GuiYV7a7kI-07qKsk0f8mBxtd9e">Quemaduras
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaQuirRgicaI-list-item324" href-inappbrowser="https://drive.google.com/open?id=1-mCgS4bIjXemGHIGihF8lh9N__Ep90zP">SIRS
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaQuirRgicaI-list-item323" href-inappbrowser="https://drive.google.com/open?id=1heefdKuciYw-izLNVECGKUGtU889vuuS">Tiroides
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaQuirRgicaI-list-item322" href-inappbrowser="https://drive.google.com/open?id=1TR02-MldbLmcDbn_8FK5nsFh67ShjadP">Trastornos motores del esófago
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaQuirRgicaI-list-item321" href-inappbrowser="https://drive.google.com/open?id=1qBBMYS_WrRbok8Yc2f9u9bbYEMPzP7YB">Vías Biliares
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="clNicaQuirRgicaI-list137">
      <ion-item class="item-divider" id="clNicaQuirRgicaI-list-item-divider83"> Material de Estudio</ion-item>
      <ion-item class="item-icon-right dark" id="clNicaQuirRgicaI-list-item197" href-inappbrowser="https://drive.google.com/open?id=1kUT5qF80w4Yuaxq73GHZjrJlU1-vsZ0R">Cirugía de Michans
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaQuirRgicaI-list-item202" href-inappbrowser="https://drive.google.com/open?id=1sh7fEqxCGc0wtypby-t17JP3oFXLECMu">Abordaje de cáncer de laringe
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaQuirRgicaI-list-item201" href-inappbrowser="https://drive.google.com/open?id=1RJ1UEtuUS7_LGIkP7JWp16RvkaQTJRMC">Abdomen agudo
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaQuirRgicaI-list-item200" href-inappbrowser="https://drive.google.com/open?id=1hyrJtY3ygjOmB5J7rAzKkvK9N0p3MInn">Principios de cirugía
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaQuirRgicaI-list-item199" href-inappbrowser="https://drive.google.com/open?id=1Fha0AODg5wUbg-zKmoDWJREBD2pPb_Ua">Otorrinolaringologia Diamante
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="clNicaQuirRgicaI-list-item198" href-inappbrowser="https://drive.google.com/open?id=1qk27N6cI1xqShf4VzDRPiK_kMKUmF47Q">Compendio de Otorrinolaringología
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>