<ion-view title="Electiva IV b: Medicina Ambulatoria" id="page73" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="electivaIVBMedicinaAmbulatoria-list164">
      <ion-item class="item-icon-right dark" id="electivaIVBMedicinaAmbulatoria-list-item495">Sin Contenidos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>