<ion-view title="Electiva Ib: Nutrición Básica" id="page24" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="electivaIbNutriciNBSica-list34">
      <ion-item class="item-divider" id="electivaIbNutriciNBSica-list-item-divider27"> Apuntes</ion-item>
      <ion-item class="item-icon-right dark" id="electivaIbNutriciNBSica-list-item146" href-inappbrowser="https://drive.google.com/open?id=1j7E8-X_0HE_SIiwxD2_kCaLGcbxW821E">Nutrición Básica
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>