<ion-view title="Electiva II b: Administración, Gestión de la Salud y Auditoría Médica" id="page35" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="electivaIIBAdministraciNGestiNDeLaSaludYAuditorAMDica-list56">
      <ion-item class="item-divider" id="electivaIIBAdministraciNGestiNDeLaSaludYAuditorAMDica-list-item-divider34"> Material de Estudio</ion-item>
      <ion-item class="item-icon-right dark" id="electivaIIBAdministraciNGestiNDeLaSaludYAuditorAMDica-list-item212" href-inappbrowser="https://drive.google.com/open?id=1-Mzz83cTlRcISkEuncqLRjLkGFwKhhvF">Planificación y programación sanitaria
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="electivaIIBAdministraciNGestiNDeLaSaludYAuditorAMDica-list-item213" href-inappbrowser="https://drive.google.com/open?id=1SNYN_cV27WGGicLAtTRIfeFGtdzcsBbH">Garantía de calidad en la atención de salud
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="electivaIIBAdministraciNGestiNDeLaSaludYAuditorAMDica-list-item214" href-inappbrowser="https://drive.google.com/open?id=1DR_cTONQFPP0jSMZ1J0bww-27xplAIjD">Modelo de gestión
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="electivaIIBAdministraciNGestiNDeLaSaludYAuditorAMDica-list57">
      <ion-item class="item-icon-right dark" id="electivaIIBAdministraciNGestiNDeLaSaludYAuditorAMDica-list-item215" href-inappbrowser="https://drive.google.com/open?id=1usRpfNf3m9Fg4MOgDlyk1S1fHShCa2PI">Auditoria en salud
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>