<ion-view title="Electiva Ia: Psicología Social" id="page23" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="electivaIaPsicologASocial-list33">
      <ion-item class="item-icon-right dark" id="electivaIaPsicologASocial-list-item143">Sin Contenidos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>