<ion-view title="Electiva II d: Procedimientos y Técnicas Quirúrgicas de Emergencia" id="page43" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="electivaIIDProcedimientosYTCnicasQuirRgicasDeEmergencia-list105">
      <ion-item class="item-divider" id="electivaIIDProcedimientosYTCnicasQuirRgicasDeEmergencia-list-item-divider35"> Diapositivas</ion-item>
      <ion-item class="item-icon-right dark" id="electivaIIDProcedimientosYTCnicasQuirRgicasDeEmergencia-list-item301" href-inappbrowser="https://drive.google.com/open?id=1Ob3hN-Mf3MZfe9ZUnuBNt7PGdHsNzN1u">Atención prehospitalaria
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="electivaIIDProcedimientosYTCnicasQuirRgicasDeEmergencia-list-item299" href-inappbrowser="https://drive.google.com/open?id=1D9drGWyO-vk2fp6MidNyrzJtmo_LN1Bi">Trauma
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="electivaIIDProcedimientosYTCnicasQuirRgicasDeEmergencia-list106">
      <ion-item class="item-icon-right dark" id="electivaIIDProcedimientosYTCnicasQuirRgicasDeEmergencia-list-item302" href-inappbrowser="https://drive.google.com/open?id=1UNMJBABVQ-mRyD7LcB569fGNlTChf2pd">Sonda nasogástrica
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="electivaIIDProcedimientosYTCnicasQuirRgicasDeEmergencia-list-item300" href-inappbrowser="https://drive.google.com/open?id=1LG1ih_RtacYjYAGLUCtkZkV5uZapFJ_C">Sonda vesical
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="electivaIIDProcedimientosYTCnicasQuirRgicasDeEmergencia-list-item303" href-inappbrowser="https://drive.google.com/open?id=131vTFf80UjQL56Hh9lnde1ylPvnLjxL9">Cateteres
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>