<ion-view title="Electiva III d: Medicina del Dolor" id="page66" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="electivaIIIDMedicinaDelDolor-list150">
      <ion-item class="item-icon-right dark" id="electivaIIIDMedicinaDelDolor-list-item452">Sin contenidos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>