<ion-view title="Epistemología e Introducción a la Investigación Científica" id="page29" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="epistemologAEIntroducciNALaInvestigaciNCientFica-list45">
      <ion-item class="item-icon-right dark" id="epistemologAEIntroducciNALaInvestigaciNCientFica-list-item179">Sin Contenidos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>