<ion-view title="Examen de Ingreso	" id="page13" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="examenDeIngreso-list14">
      <ion-item class="item-divider" id="examenDeIngreso-list-item-divider13"> Introducción a los estudios universitarios</ion-item>
      <ion-item class="item-icon-right dark" id="examenDeIngreso-list-item84" href-inappbrowser="https://drive.google.com/open?id=1DGi0VPA3KOQscJkwe2YwMrvn06NuU1yX">Programa
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="examenDeIngreso-list-item513" href-inappbrowser="https://drive.google.com/open?id=1DFMpQQhe1zcwbX2YogaRE5smr02jQqYN">Guía de actividades
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="examenDeIngreso-list147">
      <ion-item class="item-divider" id="examenDeIngreso-list-item-divider86"> Biología</ion-item>
      <ion-item class="item-icon-right dark" id="examenDeIngreso-list-item514" href-inappbrowser="https://drive.google.com/open?id=1I6xEpN5i5m3R9HKldAI0SPCNsZScnP3s">Programa
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="examenDeIngreso-list-item520" href-inappbrowser="https://drive.google.com/open?id=1Yqhb7Wj1EtlKePAu9R7p4MZNrP3Zcdz3">Guía de actividades
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="examenDeIngreso-list141">
      <ion-item class="item-divider" id="examenDeIngreso-list-item-divider87"> Física</ion-item>
      <ion-item class="item-icon-right dark" id="examenDeIngreso-list-item512" href-inappbrowser="https://drive.google.com/open?id=14qF0xUioIQxYRTmMx6j44BSeXPEhzBFQ">Programa
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="examenDeIngreso-list-item515" href-inappbrowser="https://drive.google.com/open?id=13XIbGWHSQ-A8lTg4zh16znI2gJi15p0F">Guía de actividades
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="examenDeIngreso-list144">
      <ion-item class="item-divider" id="examenDeIngreso-list-item-divider88"> Química</ion-item>
      <ion-item class="item-icon-right dark" id="examenDeIngreso-list-item518" href-inappbrowser="https://drive.google.com/open?id=10qZqnyJvb3ZjV8qnxu25v1CLzW-dnlll">Programa
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="examenDeIngreso-list-item517" href-inappbrowser="https://drive.google.com/open?id=1WTyeHHZu5IOuoEojaI4TeNYeG94FwKCw">Guía de actividades 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="examenDeIngreso-list-item521" href-inappbrowser="https://drive.google.com/open?id=1tuR6yg-NR6yY-IWLPUZwGxzll0ewGeuH">Guía de actividades 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>