<ion-view title="Exámenes Finales" id="page83">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 30px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/Ql1nxMZHTSyCOSWqlD6L_FinalesNov2.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <a href-inappbrowser="https://guarani.unlar.edu.ar/capital/fecha_examen?formulario_filtro[carrera]=c358399b60ca3a2330ccfccea47af76875d5b2f2&amp;formulario_filtro[plan]=&amp;formulario_filtro[materia]=&amp;formulario_filtro[fecha_desde]=&amp;formulario_filtro[fecha_hasta]=&amp;formulario_filtro[tipo_mesa]="
      id="exMenesFinales-button7" style="color:#0356E7;border-radius:8px 8px 8px 8px;" class="button button-stable button-block">Fechas de Exámenes</a>
    <a href-inappbrowser="https://guarani.unlar.edu.ar/capital/acceso" id="exMenesFinales-button6" style="color:#0356E7;border-radius:8px 8px 8px 8px;" class="button button-stable button-block">SIU Guaraní</a>
  </ion-content>
</ion-view>