<ion-view title="Expresión Oral y Escrita" id="page16" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="expresiNOralYEscrita-list18">
      <ion-item class="item-divider" id="expresiNOralYEscrita-list-item-divider11"> Material de Lectura</ion-item>
      <ion-item class="item-icon-right dark" id="expresiNOralYEscrita-list-item98" href-inappbrowser="https://drive.google.com/open?id=1GzTVO793eJbE_np_y4n2FAHJX5At0FrY">Apunte Expresión Oral y Escrita
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>