<ion-view title="Farmacología Clínica" id="page69" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="farmacologAClNica-list156">
      <ion-item class="item-divider" id="farmacologAClNica-list-item-divider62"> Material de Estudio</ion-item>
      <ion-item class="item-icon-right dark" id="farmacologAClNica-list-item471" href-inappbrowser="https://drive.google.com/open?id=1BOqi3MuDj5T9pt-_WixukAp9OVV49KHe">Infecciones prevalentes 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="farmacologAClNica-list-item184" href-inappbrowser="https://drive.google.com/open?id=117gSm8oi2VRsD3j9tV6FSpI4mcn_9yM3">Infecciones prevalentes 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="farmacologAClNica-list-item472" href-inappbrowser="https://drive.google.com/open?id=19sG8WVXMXlU9lK83puaYqu5FfEHChs6e">Infecciones prevalentes 4
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="farmacologAClNica-list157">
      <ion-item class="item-icon-right dark" id="farmacologAClNica-list-item474" href-inappbrowser="https://drive.google.com/open?id=1TL-ZWnkx8qpuCSfsm_CigXNvKgnIVy07">Estimación de Riesgo Cardiovascular
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="farmacologAClNica-list-item475" href-inappbrowser="https://drive.google.com/open?id=17D165jqy82qKshVuyEjzET-2mDAul5Ie">Prevención de enfermedades cardiovasculares
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="farmacologAClNica-list-item476" href-inappbrowser="https://drive.google.com/open?id=1wFkITY4mhYP1-yycAxBhVU_UZY5-qYW4">Diabetes Mellitus nivel 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="farmacologAClNica-list-item473" href-inappbrowser="https://drive.google.com/open?id=185g7jYBzg5v1l4DiYzWAOISE5Igb8g_r">Dislipemia y obesidad
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="farmacologAClNica-list-item196" href-inappbrowser="https://drive.google.com/open?id=1smgJub_wspbHpVFcGXX-aRsU2v-fTyjL">Terapéutica Racional en APS 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="farmacologAClNica-list-item195" href-inappbrowser="https://drive.google.com/open?id=13VkYVl3sR_hSG9MEChahlj5l1av1TA36">Terapéutica Racional en APS 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="farmacologAClNica-list-item190" href-inappbrowser="https://drive.google.com/open?id=1r30JkLJkJFaGEfwyu4-rZrqgOMJov1p2">Terapéutica Racional en APS 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="farmacologAClNica-list-item187" href-inappbrowser="https://drive.google.com/open?id=19W5wh_9eGjA3yqCrcMfg-f_5Yh7wTPnr">Terapéutica Racional en APS 4
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="farmacologAClNica-list-item186" href-inappbrowser="https://drive.google.com/open?id=1eMYUROp-v2Mrto1wQOOqF22Acu_jA4pl">Terapéutica Racional en APS 5
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="farmacologAClNica-list-item189" href-inappbrowser="https://drive.google.com/open?id=1iKL6Mbto1--3_-K9ksYePZWqF7Xz4e_s">Riesgo cardiovascular global
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="farmacologAClNica-list-item188" href-inappbrowser="https://drive.google.com/open?id=1ePZCfKgSCLTMkc2yCItChMrhSiZ0eAf1">Salud Mental
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>