<ion-view title="Farmacología Básica" id="page46" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="farmacologABSica-list111">
      <ion-item class="item-divider" id="farmacologABSica-list-item-divider39"> Material de Estudio</ion-item>
      <ion-item class="item-icon-right dark" id="farmacologABSica-list-item317" href-inappbrowser="https://drive.google.com/open?id=1qqEOnyuNZMPPOKamSxBS2INXX4_8QG02">Farmacología del Aparato Digestivo
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="farmacologABSica-list-item318" href-inappbrowser="https://drive.google.com/open?id=1BtLq9cRWcid_qd4iNa_kCsC6DySOELjX">Aparato Respiratorio
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>