<ion-view title="Fisiología Humana" id="page17" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="fisiologAHumana-list20">
      <ion-item class="item-divider" id="fisiologAHumana-list-item-divider17"> Diapositivas</ion-item>
      <ion-item class="item-icon-right dark" id="fisiologAHumana-list-item104" href-inappbrowser="https://drive.google.com/open?id=15orm6VBYlkIVLSOZxIEI5uJAriZFVSuC">Hemostasis
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fisiologAHumana-list-item105" href-inappbrowser="https://drive.google.com/open?id=1Quf4IGTCwU9TDSmYVOQg6q7pKFClad7H">Comunicación intercelular
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fisiologAHumana-list-item106" href-inappbrowser="https://drive.google.com/open?id=1qGxB3O9O7PUFhSF0jEw-AwNdACZ0huxR">Tejidos Excitables
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="fisiologAHumana-list21">
      <ion-item class="item-icon-right dark" id="fisiologAHumana-list-item107" href-inappbrowser="https://drive.google.com/open?id=1yGmMG43MLkPFuwb-_6nIFJ4Own5CJdMy">Sangre
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fisiologAHumana-list-item108" href-inappbrowser="https://drive.google.com/open?id=16ubQ9QedNhS2zMqzfjA-ivkJBaGscMcS">Hemostasia
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fisiologAHumana-list-item109" href-inappbrowser="https://drive.google.com/open?id=12twJSS74qB5gSx0uRohYpVFPGeGuzfEG">Circulatorio Central
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fisiologAHumana-list-item297" href-inappbrowser="https://drive.google.com/open?id=1l8qQHWW7PutTwsf9nRbIxWk8o9KctRlX">Circulatorio Periférico
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fisiologAHumana-list-item296" href-inappbrowser="https://drive.google.com/open?id=1p9DHVboe8T_I_YOHMudjlCB2DTO6dO9y">Fisiología de la Modicidad
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fisiologAHumana-list-item295" href-inappbrowser="https://drive.google.com/open?id=1HFq8BiD5KO5LS8w_y7Dh9vtxZLJbBeAV">Fisiología Renal
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fisiologAHumana-list-item294" href-inappbrowser="https://drive.google.com/open?id=1tlgwSH8jDPH2fEaApQ1aWJtrETRM5J2S">Fisiología del Sistema Nervioso Central
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fisiologAHumana-list-item103" href-inappbrowser="https://drive.google.com/open?id=1tdwwS81YmRl_mGtOrnUSMFrA9HJfGsio">Fisiología de la Respiración
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fisiologAHumana-list-item102" href-inappbrowser="https://drive.google.com/open?id=1vicHr5MInHLhZC76sbZIaguw_yxyn-iX">Fisiología Renal 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fisiologAHumana-list-item571" href-inappbrowser="https://drive.google.com/open?id=1dyC5KaDBJ4bKlT3ebLGy-5E3wVIxkpcR">Respiratorio Urinario
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fisiologAHumana-list-item298" href-inappbrowser="https://drive.google.com/open?id=1xXSFVLo-GDJk4lEnRxWsxxUElO6zgD6G">Sensibilidad y dolor
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fisiologAHumana-list-item575" href-inappbrowser="https://drive.google.com/open?id=1ARukUJ-SDqHCwVYvaqEG0AdS1cu3jj65">Sist. Nervioso Vegetativo y Stress
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fisiologAHumana-list-item574" href-inappbrowser="https://drive.google.com/open?id=167251_https://drive.google.com/open?id=167251_EMClOm0h09ufCWlvBBfa_arvKp_arvKp">Sistema Respiratorio
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fisiologAHumana-list-item573" href-inappbrowser="https://drive.google.com/open?id=1m-74BznFipmV8B_bP1dhdUEOdIdEWcOU">Sistema Digestivo
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fisiologAHumana-list-item572" href-inappbrowser="https://drive.google.com/open?id=1g6oxPhnMZZ4AUOZvt97KY7wms_hbyFAw">Tono, postura y movimiento
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="fisiologAHumana-list99">
      <ion-item class="item-divider" id="fisiologAHumana-list-item-divider18"> Material de Lectura</ion-item>
    </ion-list>
    <ion-list id="fisiologAHumana-list104">
      <ion-item class="item-icon-right dark" id="fisiologAHumana-list-item99" href-inappbrowser="https://drive.google.com/open?id=1_LCADXUE_7heGHb_5hCbD1NgRntuFdf1">Tratado de Fisiología Medica
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fisiologAHumana-list-item100" href-inappbrowser="https://drive.google.com/open?id=14AlGmxvDaLcaiyPX8yujaDTiF-HJSW7b">Funciones Motoras del Sistema Nervioso
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fisiologAHumana-list-item101" href-inappbrowser="https://drive.google.com/open?id=1PsP3ozV8yRuNiXIrqqTWgzvrhyGI7lDN">Funciones Motoras del Sistema Nervioso 2Ed
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fisiologAHumana-list-item577" href-inappbrowser="https://drive.google.com/open?id=12Rz0bjGDDZ1rt5J-vV7brwE7FY8asGuy">Fisiologia Medica G23Ed
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fisiologAHumana-list-item576" href-inappbrowser="https://drive.google.com/open?id=1RQaRgHHaYq-qTVkl_OdQwpVGcfUfoUp1">Fisiologia Medica G24Ed
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>