<ion-view title="Física Biomédica" id="page19" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="fSicaBiomDica-list24">
      <ion-item class="item-divider" id="fSicaBiomDica-list-item-divider22"> Material de Estudio</ion-item>
      <ion-item class="item-icon-right dark" id="fSicaBiomDica-list-item116" href-inappbrowser="https://drive.google.com/open?id=11zD_h0Tip1KC04RGx5dt4805WQ48fzXM">Audición
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fSicaBiomDica-list-item117" href-inappbrowser="https://drive.google.com/open?id=1XOSlISxaOuircUq5pUWjXDCPn9cuk6b4">Bioestadística
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fSicaBiomDica-list-item118" href-inappbrowser="https://drive.google.com/open?id=1xrijRdjb49fiizK4DBSVlIXXPAcObF8H">Medicina Nuclear
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="fSicaBiomDica-list25">
      <ion-item class="item-icon-right dark" id="fSicaBiomDica-list-item119" href-inappbrowser="https://drive.google.com/open?id=1hxrCs4oz6FwofS3Z2kTKyjg9ck2yFt2z">Termodinámica
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fSicaBiomDica-list-item120" href-inappbrowser="https://drive.google.com/open?id=1z2MlT7bsToxV-0YQ1hw61MINnMIiuB5P">Electrocardiograma
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fSicaBiomDica-list-item121" href-inappbrowser="https://drive.google.com/open?id=1qzo-6r6YAO9cU_dCcGA8aycxw3qN1xxh">Hemodinámica
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fSicaBiomDica-list-item589" href-inappbrowser="https://drive.google.com/open?id=18UzM80lbJxj0xmgX1B7zHsOJnlySNe-u">Información Biomédica
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fSicaBiomDica-list-item588" href-inappbrowser="https://drive.google.com/open?id=1EoJdt-YdW7oJmvKiSpS3YM_j5gAQ563y">Laser en Medicina
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fSicaBiomDica-list-item587" href-inappbrowser="https://drive.google.com/open?id=1syg4p21UVzrLy6KE2XYGhau1KEvmx7i0">Membrana Celular I
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fSicaBiomDica-list-item590" href-inappbrowser="https://drive.google.com/open?id=1HGLBj4p9ayB86NmwkQ57yozyZ6Bvho_h">Membrana Celular II
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fSicaBiomDica-list-item586" href-inappbrowser="https://drive.google.com/open?id=1W2xamGBe2ujXho4oDT8sksita_jMvNvi">Repaso Parcial II
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fSicaBiomDica-list-item585" href-inappbrowser="https://drive.google.com/open?id=1GJortz1iOjLMTwnH8NbH5NGD939U1PWa">Representación Gráfica
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fSicaBiomDica-list-item593" href-inappbrowser="https://drive.google.com/open?id=1euhwzlgEVWeazqPyES4Gp9aXt5WgQa7Z">Biofísica de la Respiración
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fSicaBiomDica-list-item592" href-inappbrowser="https://drive.google.com/file/d/1hhDXesQCYsbEV02JfdNE80hh5Hy_X4iE/view?usp=sharing">Visión
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="fSicaBiomDica-list185">
      <ion-item class="item-divider" id="fSicaBiomDica-list-item-divider23"> Ejercitación</ion-item>
    </ion-list>
    <ion-list id="fSicaBiomDica-list186">
      <ion-item class="item-icon-right dark" id="fSicaBiomDica-list-item594" href-inappbrowser="https://drive.google.com/open?id=1AoZJog23aw1K8brxbm1euNmfIylhx8CT">Audición
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fSicaBiomDica-list-item597" href-inappbrowser="https://drive.google.com/open?id=1wuLMpCjQ3hOz-sh3aJ_Hs618wiyKbsvD">Paciente
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fSicaBiomDica-list-item596" href-inappbrowser="https://drive.google.com/open?id=1bgTPPIcSdlLTm8pUKjO_qWIWorxat69o">Respiratorio
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fSicaBiomDica-list-item595" href-inappbrowser="https://drive.google.com/open?id=1qyAPyks4CwFe23XcF6t-1TZQolYX3Xd0">Bioestadística
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fSicaBiomDica-list-item598" href-inappbrowser="https://drive.google.com/open?id=1OnRcFjmSgLHCa7hr2pPiALEUYOx0EB1o">Visión
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fSicaBiomDica-list-item599" href-inappbrowser="https://drive.google.com/open?id=13_YjTRTpWe2OuTPKfLdu8_bzv6aXcE9A">Electromedicina
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fSicaBiomDica-list-item601" href-inappbrowser="https://drive.google.com/open?id=1HYvVpdnThsqhh05-WmRpy_kMRmXxsvYE">Física Biomédica
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="fSicaBiomDica-list-item602" href-inappbrowser="https://drive.google.com/open?id=15kQg-24OyRE8xefijlHzsd52xtx99dJV">Hemodinamia
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="fSicaBiomDica-list187">
      <ion-item class="item-icon-right dark" id="fSicaBiomDica-list-item600" href-inappbrowser="https://drive.google.com/open?id=15O3-JeTjF2jwXg2yChzj2rzVh4x8Dn9D">Evaluación Ejemplo
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>