<ion-view title="Histología, Embriología y Genética	" id="page18" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="histologAEmbriologAYGenTica-list22">
      <ion-item class="item-divider" id="histologAEmbriologAYGenTica-list-item-divider20"> Diapositivas</ion-item>
      <ion-item class="item-icon-right dark" id="histologAEmbriologAYGenTica-list-item110" href-inappbrowser="https://drive.google.com/open?id=1Px8ueRlgz-pJUbE4w_jmgjfESn3Uz-Y0">Embriología Humana
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="histologAEmbriologAYGenTica-list-item111" href-inappbrowser="https://drive.google.com/open?id=1cxMv-QY-SUCq_fHAdyMYscPJPVIdDtlH">Tejido Epitelial
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="histologAEmbriologAYGenTica-list-item112" href-inappbrowser="https://drive.google.com/open?id=1PeMmMios7ViU1VqYc79tUtMBsRAvhJdX">Tejido Muscular
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="histologAEmbriologAYGenTica-list23">
      <ion-item class="item-icon-right dark" id="histologAEmbriologAYGenTica-list-item113" href-inappbrowser="https://drive.google.com/open?id=1544GFwMcjiMMNC2-AKAb7uA27pabcMYa">Tejido Nervioso
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="histologAEmbriologAYGenTica-list-item114" href-inappbrowser="https://drive.google.com/open?id=1PMfCibOnASqxr8mIcI2RWAZcPt83vldN">Tejido Oseo
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="histologAEmbriologAYGenTica-list-item115" href-inappbrowser="https://drive.google.com/open?id=1lOnLNyKYrFK-YmIzqB3ihPd6U5YAisS2">TP1 Histología
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="histologAEmbriologAYGenTica-list183">
      <ion-item class="item-divider" id="histologAEmbriologAYGenTica-list-item-divider21"> Material de Lectura</ion-item>
    </ion-list>
    <ion-list id="histologAEmbriologAYGenTica-list184">
      <ion-item class="item-icon-right dark" id="histologAEmbriologAYGenTica-list-item578" href-inappbrowser="https://drive.google.com/open?id=1FoC-bbgniVFJ-VmX3HuUyP_CTzqEQgt-">Atlas histología
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="histologAEmbriologAYGenTica-list-item583" href-inappbrowser="https://drive.google.com/open?id=1hrWBo4iDxBIBP5qvdPcESJobVPP1nv0A">Embriología Medica
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="histologAEmbriologAYGenTica-list-item582" href-inappbrowser="https://drive.google.com/open?id=1JgINmkddtyqoO650Ilfhoa8bI3tKk_da">Embriología 9Ed.
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="histologAEmbriologAYGenTica-list-item581" href-inappbrowser="https://drive.google.com/open?id=1hrrJGNWxCpA7Fs49DJXJTmbO0kBVaHUY">Embriología (Panorámica histológica)
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="histologAEmbriologAYGenTica-list-item580" href-inappbrowser="https://drive.google.com/open?id=1d4l-c-7ryOd3v9QnGx312MbiKjUBPDo-">Embriología Clínica 8Ed.
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="histologAEmbriologAYGenTica-list-item579" href-inappbrowser="https://drive.google.com/open?id=1ASp_SEBD8rt2Psq7XIBrUyZln9gzeAK3">Embriología Medica
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="histologAEmbriologAYGenTica-list-item584" href-inappbrowser="https://drive.google.com/open?id=1gha5iH48f-vtVgkMbgL87D-rUHYVRs7w">Histología 7Ed.
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>