<ion-view title="Horarios" id="page3" style="background-color:#0F48AB;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/G6KmwJmTpmCrwpPQX3To_Horarios2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="horarios-list60">
      <ion-item class="item-icon-left item-icon-right positive" id="horarios-list-item17" ui-sref="medicinaUNLaR.horarioIngreso()">
        <i class="icon ion-calendar"></i>Cursillo de Ingreso
        <i class="icon ion-android-exit"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="horarios-list61">
      <ion-item class="item-icon-left item-icon-right positive" id="horarios-list-item224" ui-sref="medicinaUNLaR.horario1Cuatrimestre()">
        <i class="icon ion-calendar"></i>1° Cuatrimestre
        <i class="icon ion-android-exit"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="horarios-list10">
      <ion-item class="item-icon-left item-icon-right positive" id="horarios-list-item18" ui-sref="medicinaUNLaR.horario2Cuatrimestre()">
        <i class="icon ion-calendar"></i>2° Cuatrimestre
        <i class="icon ion-android-exit"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>