<ion-view title="Horario 2° Cuatrimestre" id="page39" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 50px;"></div>
    <ion-list id="horario2Cuatrimestre-list162">
      <ion-item class="item-divider" id="horario2Cuatrimestre-list-item-divider91"> Próximamente....</ion-item>
    </ion-list>
  </ion-content>
</ion-view>