<ion-view title="Horario 1° Cuatrimestre" id="page38" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 50px;"></div>
    <ion-list id="horario1Cuatrimestre-list158">
      <ion-item class="item-divider" id="horario1Cuatrimestre-list-item-divider90"> Próximamente....</ion-item>
    </ion-list>
  </ion-content>
</ion-view>