<ion-view title="Humanismo Médico" id="page21" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="humanismoMDico-list28">
      <ion-item class="item-divider" id="humanismoMDico-list-item-divider26"> Diapositivas</ion-item>
      <ion-item class="item-icon-right dark" id="humanismoMDico-list-item128" href-inappbrowser="https://drive.google.com/open?id=1fj1t_99s864HBZ7mhe37sEAxd5JgTZp2">Aristoteles
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="humanismoMDico-list-item129" href-inappbrowser="https://drive.google.com/open?id=1xP64J007mUHiwDuFDv3ItUV8PCgv-tuI">ARN
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="humanismoMDico-list-item130" href-inappbrowser="https://drive.google.com/open?id=1gsFvjUUpZ07Igpxkahkg4Crih9wD59cq">Historia de la Medicina
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="humanismoMDico-list29">
      <ion-item class="item-icon-right dark" id="humanismoMDico-list-item131" href-inappbrowser="https://drive.google.com/open?id=1I0NP2A0DenbSamzm1kCPZCYj_Y0-uBus">Rene Descartes
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="humanismoMDico-list-item132" href-inappbrowser="https://drive.google.com/open?id=1oqO9ncEW34CLHsGcLGaPzL8gpsdWsftd">Humanismo Medico
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="humanismoMDico-list-item133" href-inappbrowser="https://drive.google.com/open?id=1d8DnnmYtXq0Wmpiw-0vUdu6asdVZhZqD">Emmanuel Kant
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="humanismoMDico-list-item615" href-inappbrowser="https://drive.google.com/open?id=10xyc61714jaDqSVa26zUilA4WInLOoj3">Paracelso
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="humanismoMDico-list-item614" href-inappbrowser="https://drive.google.com/open?id=1SbODwiKmKpNJDO1XgSf9xCRjWxMJLCec">Paradigmas Medicos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="humanismoMDico-list-item613" href-inappbrowser="https://drive.google.com/open?id=1ywDpqmtEhjvn0k8lj6ADxyyDklE8J-Oa">Relación paciente - medico
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="humanismoMDico-list-item616" href-inappbrowser="https://drive.google.com/open?id=1GQbi9p74fM-CfU-rAQqv3WYmlZuW546n">Un gran filosofo; Socrates
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="humanismoMDico-list-item612" href-inappbrowser="https://drive.google.com/open?id=1Mni6wX2_XeffvT5GPnsaY52Q97FyAric">Socrates
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="humanismoMDico-list-item611" href-inappbrowser="https://drive.google.com/open?id=1e9crWPs8Pa3zYRslhe-DlMeG12EhKfwS">Tranfer y contratranfer
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="humanismoMDico-list-item610" href-inappbrowser="https://drive.google.com/open?id=1KFopSAUVSypTmrUlrk9L3MZg_2LC_mMB">Transferencia y contratransferencia
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>