<ion-view title="Inicio" hide-nav-bar="true" id="page1" style="background-color:#004EC3;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="height: 10px;"></div>
    <div id="inicio-button-bar1" class="button-bar"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/1sab2VS0q93dVT4NfVog_LogoMedicina.01png.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="inicio-list3">
      <ion-item class="item-avatar positive" id="inicio-list-item9" ui-sref="medicinaUNLaR.planDeEstudios()">
        <img src="img/qPv4P9czT4SYjJG847Ik_r006.png">
        <h2positive>Plan de Estudios</h2positive>
      </ion-item>
      <ion-item class="item-avatar positive" id="inicio-list-item10" ui-sref="medicinaUNLaR.horarios()">
        <img src="img/jguxAUDkSVSOLk2ZhJMA_r005.png">
        <h2positive>Horarios</h2positive>
      </ion-item>
      <ion-item class="item-avatar positive" id="inicio-list-item23" ui-sref="medicinaUNLaR.programasDeCTedra()">
        <img src="img/JYluOVGnRwajXE549U3m_r004.png">
        <h2positive>Programas de Cátedra</h2positive>
      </ion-item>
      <ion-item class="item-avatar positive" id="inicio-list-item11" ui-sref="medicinaUNLaR.bibliotecaDigital()">
        <img src="img/YAlXbrLRxSckV9JOtkHg_r003.png">
        <h2positive>Biblioteca Digital</h2positive>
      </ion-item>
      <ion-item class="item-avatar positive" id="inicio-list-item24" ui-sref="medicinaUNLaR.calendarioAcadMico()">
        <img src="img/jJvb978PSPKPRpSIN4UY_r002.png">
        <h2positive>Calendario Académico</h2positive>
      </ion-item>
      <ion-item class="item-avatar positive" id="inicio-list-item12" ui-sref="medicinaUNLaR.acercaDeLaApp()">
        <img src="img/xLz3hBy2QzCpZmUocyhw_r001.png">
        <h2positive>Acerca de la App</h2positive>
      </ion-item>
    </ion-list>
    <a ui-sref="medicinaUNLaR.exMenesFinales()" id="inicio-button3" style="border-radius:10px 10px 10px 10px;" class="button button-assertive button-block">Exámenes Finales</a>
    <a ui-sref="medicinaUNLaR.gUAUNLaR()" id="inicio-button5" style="border-radius:10px 10px 10px 10px;" class="button button-assertive button-block">GUÍA UNLaR</a>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>