<ion-view title="Medicina Legal y Toxicológica" id="page70" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="medicinaLegalYToxicolGica-list159">
      <ion-item class="item-divider" id="medicinaLegalYToxicolGica-list-item-divider63"> Material de Estudio</ion-item>
      <ion-item class="item-icon-right dark" id="medicinaLegalYToxicolGica-list-item480" href-inappbrowser="https://drive.google.com/open?id=1TiI1KwyOImMUfyhFiTJbBdnYlE-eDlus">Tanatología, asfixias, Lesiones
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="medicinaLegalYToxicolGica-list-item481" href-inappbrowser="https://drive.google.com/open?id=1hZCTjwlFQKepkwds7GkBrNY75rZfh7np">Fundamentos de Medicina legal
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>