<ion-view title="Medicina Psicosocial" id="page28" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="medicinaPsicosocial-list42">
      <ion-item class="item-divider" id="medicinaPsicosocial-list-item-divider30"> Diapositivas</ion-item>
      <ion-item class="item-icon-right dark" id="medicinaPsicosocial-list-item170" href-inappbrowser="https://drive.google.com/open?id=1aPjAjYKxnY9FQWHXXbcyjLoF5-Cjs8bS">Investigación Científica
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="medicinaPsicosocial-list-item171" href-inappbrowser="https://drive.google.com/open?id=1XpKEDSfZZ-kjfNTOTr7DhpoAE3Emzw4n">Metodología de la investigación
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="medicinaPsicosocial-list-item172" href-inappbrowser="https://drive.google.com/open?id=1cVUPujzuB3Fsfi_C7bYbWX0JZA4NMZqW">Relación Medico-Paciente
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="medicinaPsicosocial-list43">
      <ion-item class="item-icon-right dark" id="medicinaPsicosocial-list-item173" href-inappbrowser="https://drive.google.com/open?id=1bu_Xcszrack0QfmMKxnBDUZSfrqCfo81">RMP en situaciones especiales
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>