<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-content padding="false" style="top:0px !important;background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="side-menu-left ">
      <div class="spacer" style="height: 20px;"></div>
      <div>
        <img src="img/1sab2VS0q93dVT4NfVog_LogoMedicina.01png.png" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="height: 20px;"></div>
      <ion-list id="medicinaUNLaR-list1">
        <ion-item class="item-icon-right positive" id="medicinaUNLaR-list-item1" ui-sref="medicinaUNLaR.inicio()" menu-close="">Inicio
          <i class="icon ion-android-arrow-dropright-circle"></i>
        </ion-item>
        <ion-item class="item-icon-right positive" id="medicinaUNLaR-list-item2" ui-sref="medicinaUNLaR.planDeEstudios()" menu-close="">Plan de Estudios
          <i class="icon ion-android-arrow-dropright-circle"></i>
        </ion-item>
        <ion-item class="item-icon-right positive" id="medicinaUNLaR-list-item3" ui-sref="medicinaUNLaR.horarios()" menu-close="">Horarios
          <i class="icon ion-android-arrow-dropright-circle"></i>
        </ion-item>
        <ion-item class="item-icon-right positive" id="medicinaUNLaR-list-item90" ui-sref="medicinaUNLaR.programasDeCTedra()" menu-close="">Programas de Cátedra
          <i class="icon ion-android-arrow-dropright-circle"></i>
        </ion-item>
        <ion-item class="item-icon-right positive" id="medicinaUNLaR-list-item4" ui-sref="medicinaUNLaR.bibliotecaDigital()" menu-close="">Biblioteca Digital
          <i class="icon ion-android-arrow-dropright-circle"></i>
        </ion-item>
        <ion-item class="item-icon-right positive" id="medicinaUNLaR-list-item91" ui-sref="medicinaUNLaR.calendarioAcadMico()" menu-close="">Calendario Académico
          <i class="icon ion-android-arrow-dropright-circle"></i>
        </ion-item>
        <ion-item class="item-icon-right positive" id="medicinaUNLaR-list-item7" ui-sref="medicinaUNLaR.acercaDeLaApp()" menu-close="">Acerca de la App
          <i class="icon ion-android-arrow-dropright-circle"></i>
        </ion-item>
      </ion-list>
      <div class="spacer" style="height: 20px;"></div>
      <ion-list id="medicinaUNLaR-list165">
        <ion-item class="item-icon-right positive" id="medicinaUNLaR-list-item183" href-inappbrowser="https://guarani.unlar.edu.ar/capital/acceso">SIU Guaraní
          <i class="icon ion-link"></i>
        </ion-item>
        <ion-item class="item-icon-right positive" id="medicinaUNLaR-list-item507" href-inappbrowser="https://becas.unlar.edu.ar/">SIU Tehuelche
          <i class="icon ion-link"></i>
        </ion-item>
        <ion-item class="item-icon-right positive" id="medicinaUNLaR-list-item508" href-inappbrowser="https://catedras.unlar.edu.ar/login/index.php">EVA UNLaR
          <i class="icon ion-link"></i>
        </ion-item>
      </ion-list>
      <div class="spacer" style="height: 10px;"></div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
