<ion-view title="Parasitología y Micología Médica" id="page27" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="parasitologAYMicologAMDica-list40">
      <ion-item class="item-divider" id="parasitologAYMicologAMDica-list-item-divider29"> Material de Lectura</ion-item>
      <ion-item class="item-icon-right dark" id="parasitologAYMicologAMDica-list-item164" href-inappbrowser="https://drive.google.com/open?id=1z6Bc9ofDsc15hHFdJuskMZB76k5O_9Vg">Parasitología Medica
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>