<ion-view title="Patología" id="page26" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="patologA-list38">
      <ion-item class="item-divider" id="patologA-list-item-divider28"> Material de Lectura</ion-item>
      <ion-item class="item-icon-right dark" id="patologA-list-item159" href-inappbrowser="https://drive.google.com/open?id=1njYpTYzRLcwV7vFu6sY4_55QujjteTPg">Compendio de Patología Estructural y Funcional
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="patologA-list-item158" href-inappbrowser="https://drive.google.com/open?id=1IWIT4Y7hrY07jEckGeV1HMEmZ9RSruJ3">Patología Humana 9na Ed
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="patologA-list-item160" href-inappbrowser="https://drive.google.com/open?id=1YrZJ20u3I24MvR9UFRQBwngkR7ZJIJky">Secretos Patología 3era Ed
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>