<ion-view title="Perfil del Graduado" id="page6">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Ordenanza Nº 363/08&nbsp;</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">Resolución Ministerial Nº 1598/99</span>
      </h4>
      <hr>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #ff6600;">Perfil de la Carrera</span>
      </h4>
      <div>El Médico que forma la UNLaR debe egresar con la capacidad para resolver los principales problemas concernientes a la promoción, protección, recuperación y rehabilitación de la salud, tanto individual como familiar y comunitaria, haciendo uso racional
        de las actuales tecnologías y terapéuticas, dentro de un contexto ético y moral que respete la dignidad de la persona humana como ser trascendente. Consecuentemente, el profesional médico deberá ser capaz de:</div>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">► </span>Asistir al hombre sano tanto a nivel individual como familiar y comunitario, valorizando las acciones de promoción y protección de la salud.</p>
      <p>
        <span style="color: #ff6600;">►</span> Valorar los factores ambientales, culturales, sociales y económicos causantes de enfermedad, reconociendo las deficiencias y promoviendo su corrección.</p>
      <p>
        <span style="color: #ff6600;">►</span> Resolver los problemas más frecuentes de salud, en el lugar y el momento mismo donde se originan, tanto a nivel individual, familiar y comunitario.</p>
      <p>
        <span style="color: #ff6600;">►</span> Aplicar conocimientos, habilidades y destrezas para detención de síntomas y signos tempranos de anomalías orgánicas y psíquicas, para un diagnóstico temprano y precoz y su tratamiento inmediato.</p>
      <p>
        <span style="color: #ff6600;">►</span> Realizar interconsultas y derivación de pacientes oportunamente.</p>
      <p>
        <span style="color: #ff6600;">►</span> Prescribir racional y científicamente medicamentos y tratamientos aprobados por autoridades sanitarias competentes y discernir sus reacciones adversas e interacciones.</p>
      <p>
        <span style="color: #ff6600;">►</span> Incentivar la participación del individuo, familia y comunidad en la resolución de los problemas de salud y enfermedad.</p>
      <p>
        <span style="color: #ff6600;">►</span> Demostrar una actitud positiva hacia la integración docente- asistencial.</p>
      <p>
        <span style="color: #ff6600;">►</span> Aplicar una actitud positiva hacia la investigación, siguiendo el método científico.</p>
      <p>
        <span style="color: #ff6600;">►</span> Desarrollar la responsabilidad del autoaprendizaje.</p>
      <p>
        <span style="color: #ff6600;">►</span> Integrar equipos de salud interdisciplinarios y multidisciplinarios.</p>
      <p>
        <span style="color: #ff6600;">►</span> Planificar, programar, ejecutar y evaluar acciones de salud, teniendo en cuenta los problemas sanitarios prevalentes y prioritarios, con criterio epidemiológico, considerando las patologías regionales.</p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>