<ion-view title="Plan de Estudios" id="page2" style="background-color:#0F48AB;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/K2PSoOLiSeSFGqDYp6fA_Medicina.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <a ui-sref="medicinaUNLaR.alcanceDelTTulo()" id="planDeEstudios-button2" style="font-weight:500;" class="button button-light button-block icon ion-android-checkmark-circle"> Alcance del Título</a>
    <a ui-sref="medicinaUNLaR.perfilDelGraduado()" id="planDeEstudios-button1" style="font-weight:500;" class="button button-light button-block icon ion-android-checkmark-circle"> Perfil del Graduado</a>
  </ion-content>
</ion-view>