<ion-view title="Programas de Cátedra" id="page12" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="programasDeCTedra-list11">
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item60" href-inappbrowser="https://drive.google.com/open?id=1W2EFc_Rv3SfnXkW3YsnHzweV2e47ekL6">
        <i class="icon ion-ios-list-outline"></i>Anatomía Normal</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item55" href-inappbrowser="https://drive.google.com/open?id=1dofiM0z1kfKbvEYZ45g4CEUX5iuCtgcC">
        <i class="icon ion-ios-list-outline"></i> Química Biológica</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item33" href-inappbrowser="https://drive.google.com/open?id=1Gt4aUVpuztoDkyZ12K9n7ugZa4lyut3c">
        <i class="icon ion-ios-list-outline"></i>Salud Pública I</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item34" href-inappbrowser="https://drive.google.com/open?id=1jKQQD3NDVvtL-Jvwh1bTnhrfD93gLotj">
        <i class="icon ion-ios-list-outline"></i>Expresión Oral y Escrita</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item53" href-inappbrowser="https://drive.google.com/open?id=1bQCFuBDaowdhEk5ZuPR_U2i7whZcGrZH">
        <i class="icon ion-ios-list-outline"></i>Fisiología Humana</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item57">
        <i class="icon ion-ios-list-outline"></i>Histología, Embriología y Genética</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item56" href-inappbrowser="https://drive.google.com/open?id=1jrPA6uCNCIKRm5v4kM_ltMI705vX8UsE">
        <i class="icon ion-ios-list-outline"></i>Física Biomédica</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item58" href-inappbrowser="https://drive.google.com/open?id=1MszVwIcnYcPo5Rezza3PJEt0QbEgMe99">
        <i class="icon ion-ios-list-outline"></i>Salud Pública II</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item59" href-inappbrowser="https://drive.google.com/open?id=1YUy549w1fL8sXF2N6Cxmqni6q-NkOgpG">
        <i class="icon ion-ios-list-outline"></i>Humanismo Médico</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item61">
        <i class="icon ion-ios-list-outline"></i>Inglés</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item69">
        <i class="icon ion-ios-list-outline"></i>Electiva Ia: Psicología Social</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item62" href-inappbrowser="https://drive.google.com/open?id=1reYXjEjpTavWo0KsWktHopG6nxLpPylE">
        <i class="icon ion-ios-list-outline"></i>Electiva Ib: Nutrición Básica</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item63" href-inappbrowser="https://drive.google.com/open?id=1WbImbIJVanA7d8lm5NOaNEOAUY7pzgIt">
        <i class="icon ion-ios-list-outline"></i>Electiva Ic: Fundamentos de Instrumentación Quirúrgica</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item64" href-inappbrowser="https://drive.google.com/open?id=1-onernveB2v3yHe4kpvkiui1Djo_MdX0">
        <i class="icon ion-ios-list-outline"></i>Patología</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item65" href-inappbrowser="https://drive.google.com/open?id=1xDXE3Pr3CsNHsJ11W4LPHWQkklhhBUEl">
        <i class="icon ion-ios-list-outline"></i>Parasitología y Micología Médica</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item66" href-inappbrowser="https://drive.google.com/open?id=1bG_S4DRYGk-0nNNhE_WmtzoJdrCp-1dc">
        <i class="icon ion-ios-list-outline"></i>Medicina Psicosocial</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item67" href-inappbrowser="https://drive.google.com/open?id=1UYjOMvpHsspZxieKC063rfEhNqGyXtPs">
        <i class="icon ion-ios-list-outline"></i>Epistemología e Introducción a la Investigación Científica</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item68" href-inappbrowser="https://drive.google.com/open?id=17WhFCClVXxJbru5rlDXg377vnszJ_M4f">
        <i class="icon ion-ios-list-outline"></i>Medicina Antropológica</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item70" href-inappbrowser="https://drive.google.com/open?id=1KLyGSQzCz7DGWFMuFvgnoIHbQ4gIf4_B">
        <i class="icon ion-ios-list-outline"></i>Bacteriología y Virología Médica</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item71" href-inappbrowser="https://drive.google.com/open?id=1gA0XD4Kh_giVz7T203trO94uUMWMk2bp">
        <i class="icon ion-ios-list-outline"></i>Salud Pública III</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item72" href-inappbrowser="https://drive.google.com/open?id=1qum4_5rhTXTFtK-CCQo2x_E9Xsgxh-Nb">
        <i class="icon ion-ios-list-outline"></i>Bioinformática</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item74">
        <i class="icon ion-ios-list-outline"></i>Electiva II a: Medicina Familiar</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item73">
        <i class="icon ion-ios-list-outline"></i>Electiva II b: Administración, Gestión de la Salud y Auditoría Médica</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item243" href-inappbrowser="https://drive.google.com/open?id=1Bo4bEjL2AG7N0tnCcqi3aO-VQLXL6LBT">
        <i class="icon ion-ios-list-outline"></i>Electiva II c: Patología Regional</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item244" href-inappbrowser="https://drive.google.com/open?id=1kRZJ24QcaCs1cXY9BpCVrlOn2eojeC1o">
        <i class="icon ion-ios-list-outline"></i>Electiva II d: Procedimientos y Técnicas Quirúrgicas de Emergencia</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item245">
        <i class="icon ion-ios-list-outline"></i>Clínica Médica I</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item246">
        <i class="icon ion-ios-list-outline"></i>Clínica Ginecológica</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item247">
        <i class="icon ion-ios-list-outline"></i>Farmacología Básica</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item248">
        <i class="icon ion-ios-list-outline"></i>Clínica Oftalmológica</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item249">
        <i class="icon ion-ios-list-outline"></i>Clínica Infectológica</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item250">
        <i class="icon ion-ios-list-outline"></i>Salud Mental</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item251">
        <i class="icon ion-ios-list-outline"></i>Radiología y Diagnóstico por Imágenes </ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item252">
        <i class="icon ion-ios-list-outline"></i>Bioética</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item253">
        <i class="icon ion-ios-list-outline"></i>Clínica Dermatológica</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item254">
        <i class="icon ion-ios-list-outline"></i>Clínica Neurológica </ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item255">
        <i class="icon ion-ios-list-outline"></i>Salud Pública IV</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item256">
        <i class="icon ion-ios-list-outline"></i>Clínica Médica II</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item257">
        <i class="icon ion-ios-list-outline"></i>Clínica Quirúrgica I</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item258">
        <i class="icon ion-ios-list-outline"></i>Clínica Obstétrica y Perinatológica</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item259">
        <i class="icon ion-ios-list-outline"></i>Clínica Pediátrica</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item260">
        <i class="icon ion-ios-list-outline"></i>Clínica Traumatológica</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item419">
        <i class="icon ion-ios-list-outline"></i>Salud Pública V</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item420">
        <i class="icon ion-ios-list-outline"></i>Electiva III a: Medicina Alternativa</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item421">
        <i class="icon ion-ios-list-outline"></i>Electiva III b: Gerontología</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item422">
        <i class="icon ion-ios-list-outline"></i>Electiva III c: Genética</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item423">
        <i class="icon ion-ios-list-outline"></i>Electiva III d: Medicina del Dolor</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item424">
        <i class="icon ion-ios-list-outline"></i>Electiva III e: Nuevas Tecnologías Aplicadas a la Medicina</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item425">
        <i class="icon ion-ios-list-outline"></i>Clínica Urológica</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item426">
        <i class="icon ion-ios-list-outline"></i>Farmacología Clínica</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item427">
        <i class="icon ion-ios-list-outline"></i>Medicina Legal y Toxicológica</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item428">
        <i class="icon ion-ios-list-outline"></i>Clínica Otorrinolaringológica</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item429">
        <i class="icon ion-ios-list-outline"></i>Electiva IV a: Reumatología</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item430">
        <i class="icon ion-ios-list-outline"></i>Electiva IV b: Medicina Ambulatoria</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item431">
        <i class="icon ion-ios-list-outline"></i>Electiva IV c: Toxicología / Intoxicaciones</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item432">
        <i class="icon ion-ios-list-outline"></i>Electiva IV d: Educación Médica</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item433">
        <i class="icon ion-ios-list-outline"></i>Electiva IV e: Medicina Preventiva en la Mujer y Oncología Médica</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item435" href-inappbrowser="https://drive.google.com/open?id=1BhPXXS6L40kikr55-PpWLSlw7vDDT0TI">
        <i class="icon ion-ios-list-outline"></i>Clínica Quirúrgica II</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item436" href-inappbrowser="https://drive.google.com/open?id=16PRhwLaU_u1JNa5vwYfEiXhEWAEypXsm">
        <i class="icon ion-ios-list-outline"></i>Clínica Médica III</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item437" href-inappbrowser="https://drive.google.com/open?id=1U7O-2-zCFq0u5GXQ833UDRC8EIpzT4Az">
        <i class="icon ion-ios-list-outline"></i>Tocoginecología</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item438" href-inappbrowser="https://drive.google.com/open?id=1N8u-PW3BNpSbA7p8-nnd4iBHg1gslfac">
        <i class="icon ion-ios-list-outline"></i>Pediatría</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item439">
        <i class="icon ion-ios-list-outline"></i>Examen Final Integrador</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>