<ion-view title="Radiología y Diagnóstico por Imágenes" id="page50" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="radiologAYDiagnSticoPorImGenes-list119">
      <ion-item class="item-divider" id="radiologAYDiagnSticoPorImGenes-list-item-divider41"> Diapositivas</ion-item>
      <ion-item class="item-icon-right dark" id="radiologAYDiagnSticoPorImGenes-list-item341" href-inappbrowser="https://drive.google.com/open?id=1qHJ1mYGbOpol8vhdEMxzPSBQQprK4RoW">Tórax patológico
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="radiologAYDiagnSticoPorImGenes-list-item342" href-inappbrowser="https://drive.google.com/open?id=1NVt1n-gKnIFpr8QAZPSiO_jGQz4MoNcu">Radiología y medicina física
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="radiologAYDiagnSticoPorImGenes-list-item343" href-inappbrowser="https://drive.google.com/open?id=1EsiXioo2EZTEAprdV6h7ikNPdV6CuCMF">Patología Esófago gástrico
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="radiologAYDiagnSticoPorImGenes-list192">
      <ion-item class="item-icon-right dark" id="radiologAYDiagnSticoPorImGenes-list-item161" href-inappbrowser="https://drive.google.com/open?id=1VBZIBzBYtPQwHtewU9xeeKSvO-TU77HY">Abdomen patológico
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="radiologAYDiagnSticoPorImGenes-list-item162" href-inappbrowser="https://drive.google.com/open?id=1oVFSJIyq0ZoD_lKnbXGipqjl26072C6f">Neumonia
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="radiologAYDiagnSticoPorImGenes-list-item163" href-inappbrowser="https://drive.google.com/open?id=1bi8Y7Cz5Wdzd8YBH5l_oeFWTy6PegMIx">Sistema Urinario
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="radiologAYDiagnSticoPorImGenes-list193">
      <ion-item class="item-icon-right dark" id="radiologAYDiagnSticoPorImGenes-list-item165" href-inappbrowser="https://drive.google.com/open?id=17q8rx5wlufFyJ6DY6Ck0WES93xD_8Zcr">Sistema Digestivo 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="radiologAYDiagnSticoPorImGenes-list-item166" href-inappbrowser="https://drive.google.com/open?id=1OP81FXBdDoP69ELilN3BDA0qWkTNUkY7">Sistema Digestivo 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="radiologAYDiagnSticoPorImGenes-list-item623" href-inappbrowser="https://drive.google.com/open?id=1YmpYrGB-QDO5Q6jEMXSRcSdJxXSYPCKt">Abdomen
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="radiologAYDiagnSticoPorImGenes-list-item622" href-inappbrowser="https://drive.google.com/open?id=1nnT7TVFLPKlybySl5UeNSRwoexH63tJI">Genital Femenino
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="radiologAYDiagnSticoPorImGenes-list-item621" href-inappbrowser="https://drive.google.com/open?id=112JBoWfxjQcnAQn5ERqwUNAPbDQ5W16h">Tórax
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="radiologAYDiagnSticoPorImGenes-list-item620" href-inappbrowser="https://drive.google.com/open?id=1df12InlGMENs2M15HLMIkvCA_BicLo3X">Cráneo y Cara
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="radiologAYDiagnSticoPorImGenes-list-item619" href-inappbrowser="https://drive.google.com/open?id=18EYjx1MSAmY6xEITauUmVWsTP4Su_O7u">Columna
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="radiologAYDiagnSticoPorImGenes-list-item618" href-inappbrowser="https://drive.google.com/open?id=12yH8U_CCXxYxL4Lg-KIGE_xPxUWksPgZ">Miembro inferior
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="radiologAYDiagnSticoPorImGenes-list-item591" href-inappbrowser="https://drive.google.com/open?id=1nT_Y_q5lK3YqSAFxoSjSqrKIwSKDNRfw">Como analizar una radiografía
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="radiologAYDiagnSticoPorImGenes-list182">
      <ion-item class="item-divider" id="radiologAYDiagnSticoPorImGenes-list-item-divider42"> Material de Lectura</ion-item>
    </ion-list>
    <ion-list id="radiologAYDiagnSticoPorImGenes-list191">
      <ion-item class="item-icon-right dark" id="radiologAYDiagnSticoPorImGenes-list-item346" href-inappbrowser="https://drive.google.com/open?id=1gidQ0pT8mMxaFRYrtkHMSrothJymQW6V">Diagnostico por Imagen
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="radiologAYDiagnSticoPorImGenes-list-item167" href-inappbrowser="https://drive.google.com/open?id=1PNHJ-X6SJFFzCHk9oDTkDfsDyTDgiG21">Diagnostico por Imagen (Apunte)
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>