<ion-view title="Salud Pública IV" id="page54" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="saludPBlicaIV-list127">
      <ion-item class="item-divider" id="saludPBlicaIV-list-item-divider50"> Material de Estudio</ion-item>
      <ion-item class="item-icon-right dark" id="saludPBlicaIV-list-item365" href-inappbrowser="https://drive.google.com/open?id=13TbYkCwtFam3Hp2xjONpT8fQ50RSd7hH">Saneamiento ambiental
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="saludPBlicaIV-list-item366" href-inappbrowser="https://drive.google.com/open?id=10EVTXR09-YErXd8ViGDeSB_Q6Cs6gd2t">Alacranismo
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="saludPBlicaIV-list-item367" href-inappbrowser="https://drive.google.com/open?id=1k4scwxZdYxVnI_kIKOZgeI6Iff-k-QJx">Diseño de una investigación
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="saludPBlicaIV-list128">
      <ion-item class="item-icon-right dark" id="saludPBlicaIV-list-item368" href-inappbrowser="https://drive.google.com/open?id=1I-n8AD05GhQiTd1yt7zCFLkprIZqhoPM">Demografía
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="saludPBlicaIV-list-item369" href-inappbrowser="https://drive.google.com/open?id=1VAWmKBWw9zTBs4eqYCEJY7nDjkYNp3LV">Herramientas de epidemiología
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>