<ion-view title="Salud Pública III" id="page32" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="saludPBlicaIII-list50">
      <ion-item class="item-divider" id="saludPBlicaIII-list-item-divider33"> Material de Estudio</ion-item>
      <ion-item class="item-icon-right dark" id="saludPBlicaIII-list-item194" href-inappbrowser="https://drive.google.com/open?id=1yLMu8CFhIe_TtOrRkK6J-Ec0V58eCiZZ">Salud Publica III Parte 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="saludPBlicaIII-list-item617" href-inappbrowser="https://drive.google.com/open?id=1riPTm4YzNOI72iWKTf3Pnjjnarqlynqd">Salud Publica III Parte 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>