<ion-view title="Salud Pública II" id="page20" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="saludPBlicaII-list26">
      <ion-item class="item-divider" id="saludPBlicaII-list-item-divider24"> Diapositivas</ion-item>
      <ion-item class="item-icon-right dark" id="saludPBlicaII-list-item122" href-inappbrowser="https://drive.google.com/open?id=19iNyxazg-ISXY9qxmiSEB85z-F9IOmX3">Atención Medica
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="saludPBlicaII-list-item123" href-inappbrowser="https://drive.google.com/open?id=1J2KwgSrfOIdNdsE3APK4Wr4WZeCaeS_1">Atención Maternoinfantil
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="saludPBlicaII-list-item124" href-inappbrowser="https://drive.google.com/open?id=1H9KObuUllmir6KDZq6Ovd2UWTjo3YGYg">Saneamiento Ambiental
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="saludPBlicaII-list27">
      <ion-item class="item-icon-right dark" id="saludPBlicaII-list-item125" href-inappbrowser="https://drive.google.com/open?id=1ucSQF7uBK3KM3pqYsvEyehopl7wNupnS">Demografía
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="saludPBlicaII-list-item126" href-inappbrowser="https://drive.google.com/open?id=1kD09m1m2kPvRy5ENrqB1r3NrZzxK3A5C">ASIS: Método de la epidemiología
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="saludPBlicaII-list-item127" href-inappbrowser="https://drive.google.com/open?id=1HhkjIJKISfkJsPMEv37PspcOP_39hfX9">Cambio Climático
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="saludPBlicaII-list-item606" href-inappbrowser="https://drive.google.com/open?id=1olmednbYLWoEfMmOOAoQW1xPVkPM80sX">Demografía
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="saludPBlicaII-list-item605" href-inappbrowser="https://drive.google.com/open?id=1SrWWXw-vb5tdq2MF7dlHUxsIccUBBT9e">Saneamiento Ambiental
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="saludPBlicaII-list-item604" href-inappbrowser="https://drive.google.com/open?id=1U5UXVq1B1zuBmNncHtqVqwC-_ruTCqbo">Salud Bucal
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="saludPBlicaII-list-item609" href-inappbrowser="https://drive.google.com/open?id=1SZLyfP3QvLd16FJ-bbqUDj21n3E_zM11">Salud Pública
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="saludPBlicaII-list-item608" href-inappbrowser="https://drive.google.com/open?id=1KFb_eD--H8lgSHQF8-i-deR3I4dfhcoJ">Vacunas e inmunización
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="saludPBlicaII-list-item607" href-inappbrowser="https://drive.google.com/open?id=1RMGx8v1E8s87BouVj8HEQ5RTwKAjR3Vq">Zoonosis
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="saludPBlicaII-list188">
      <ion-item class="item-divider" id="saludPBlicaII-list-item-divider25"> Apuntes</ion-item>
    </ion-list>
    <ion-list id="saludPBlicaII-list189">
      <ion-item class="item-icon-right dark" id="saludPBlicaII-list-item603" href-inappbrowser="https://drive.google.com/open?id=1L4ztI9NfmYmxf_1i5lwiy3S7jS9v69bZ">Salud Pública II
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>