<ion-view title="Salud Pública V" id="page60" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="saludPBlicaV-list139">
      <ion-item class="item-divider" id="saludPBlicaV-list-item-divider56"> Material de Estudio</ion-item>
      <ion-item class="item-icon-right dark" id="saludPBlicaV-list-item401" href-inappbrowser="https://drive.google.com/open?id=1QLzKcQcbFNypY2tKC3liD3JQFBto17fi">[Resumen] Salud Publica V
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="saludPBlicaV-list-item402" href-inappbrowser="https://drive.google.com/open?id=1YzptewNw11MTCgOMlnNkcy8mOFl5B5Rf">Determinantes de la Salud
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="saludPBlicaV-list-item403" href-inappbrowser="https://drive.google.com/open?id=1YUpbFPi0a08DmOQkVE9kdZvD6TNRSSwh">Enfermedades no transmisibles
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="saludPBlicaV-list110">
      <ion-item class="item-icon-right dark" id="saludPBlicaV-list-item148" href-inappbrowser="https://drive.google.com/open?id=1-iYOAL_Gw8Nyk4vONZwtZ5jsDicXbGg4">Enfermedades Transmisibles
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="saludPBlicaV-list-item149" href-inappbrowser="https://drive.google.com/open?id=1QYK9UZqitA4JjSH5xAeDVFf1rwh4mH7_">Epidemiología Básica
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="saludPBlicaV-list-item150" href-inappbrowser="https://drive.google.com/open?id=1rhaAqf-ar6S3PyogazfE2XMJf8LDgjnW">Niveles de prevención
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="saludPBlicaV-list140">
      <ion-item class="item-icon-right dark" id="saludPBlicaV-list-item404" href-inappbrowser="https://drive.google.com/open?id=19omoEx4Us39pbojDxQe7RrmKJXr-NYwv">Salud ambiental
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="saludPBlicaV-list-item405" href-inappbrowser="https://drive.google.com/open?id=15azku3cisDFaJaYIYe00NOXpbFZ88Lem">Conceptos Generales Salud Publica, Epidemioliga
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="saludPBlicaV-list-item406" href-inappbrowser="https://drive.google.com/open?id=1ddaczViARKhIPdPLOhxUy_LvQO9n1l0L">Sistemas prepago y obra social
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="saludPBlicaV-list-item168" href-inappbrowser="https://drive.google.com/open?id=1z7ORjNv9ryPn69lIXDtE_leqdp-Zh638">Vigilancia de ENT
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="saludPBlicaV-list-item151" href-inappbrowser="https://drive.google.com/open?id=1j7DNVTzDpKrBnpwNuukZcUCCvOypkHs-">Vigilancia Epidemiológica
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>