<ion-view title="Salud Pública I" id="page15" style="background-color:#033A8D;">
  <ion-content padding="true" style="background: url(img/RfDvUa2VTIeGrqlBKKSp_FondoApp7.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="saludPBlicaI-list16">
      <ion-item class="item-divider" id="saludPBlicaI-list-item-divider16"> Diapositivas</ion-item>
      <ion-item class="item-icon-right dark" id="saludPBlicaI-list-item92" href-inappbrowser="https://drive.google.com/open?id=1G1rxe98GO7dcIh2fIAof_zXJeMA0TvYH">Tuberculosis
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="saludPBlicaI-list-item93" href-inappbrowser="https://drive.google.com/open?id=12UUCnBtMtY2olo5-m5Ic60DAK5B1tW8V">Infecciones de Transmisión Sexual
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="saludPBlicaI-list-item94" href-inappbrowser="https://drive.google.com/open?id=11oY32YyGhdmRMwCi1pOc168k5-uemg0q">Hipotiroidismo
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="saludPBlicaI-list17">
      <ion-item class="item-icon-right dark" id="saludPBlicaI-list-item95" href-inappbrowser="https://drive.google.com/open?id=1ukgppGXWeIiQA1OvAP3pXiwooiHx1shP">Gripe
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="saludPBlicaI-list-item96" href-inappbrowser="https://drive.google.com/open?id=1rK7AAJD-qL0-VvK3o8P_uqle7WNqydth">Dengue
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="saludPBlicaI-list-item97" href-inappbrowser="https://drive.google.com/open?id=1kThK-IeM9WapQMbee61u28F4webH2Ex-">Chagas
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>